<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="solarpanban">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-md-12">
            <h2>Solar Panel Calculator</h2>
            <p>
              Enter in your <strong>Country, State</strong> or
              <strong>City</strong> to calculate the optimum tilt of your solar
              panels every month
            </p>
          </div>
          <div class="col-lg-5 col-md-5 col-md-12">
            <div class="whatsoptimal">
              <h2>
                What's the optimal<br />
                angle for my solar panels?
              </h2>
              <form method="get">
                <select>
                  <option>Select Country</option>
                </select>
                <select>
                  <option>Select Town/City</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-md-7 col-md-12">
            <div class="optimalcalen">
              <p>Optimum Tilt of Solar Panels by Month</p>
              <ul>
                <li>40° <span>January</span></li>
                <li>32° <span>February</span></li>
                <li>24° <span>March</span></li>
                <li>8° <span>April</span></li>
                <li>16° <span>May</span></li>
                <li>0° <span>June</span></li>
                <li>8° <span>July</span></li>
                <li>16° <span>August</span></li>
                <li>24° <span>September</span></li>
                <li>32° <span>October</span></li>
                <li>40° <span>November</span></li>
                <li>48° <span>December</span></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-md-12">
            <div class="solarseaseon">
              <div class="solarcard">
                <img src="/images/solar1.png" alt="" />
                <p>Winter: <strong>48°</strong></p>
              </div>
              <div class="solarcard">
                <img src="/images/solar2.png" alt="" />
                <p>Spring/Autumn: <strong>24°</strong></p>
              </div>
              <div class="solarcard">
                <img src="/images/solar3.png" alt="" />
                <p>Summer: <strong> 0°</strong></p>
              </div>
            </div>
          </div>
          <p class="solarbtmpara">
            <strong>NOTE :</strong> In the Northern Hemisphere Solar PV Panel
            must be south facing and In the Southern Hemisphere Solar PV Panel
            must be north facing.
          </p>
        </div>
      </div>
    </section>
    <section class="whatlooking contribution">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>
              The Optimal<br />
              Angle For My<br />
              Solar Panels
            </h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p>
              The optimal angle for your solar panels varies throughout the
              year, depending on the seasons and your location and this
              calculator shows the difference in sun height on a month-by-month
              basis. For even more precise angling, you would need to track the
              sun as it moves throughout the day on a minute-by-minute basis.
              This can be accomplished with an automated mechanical solar
              tracker, but unfortunately this is not very economical.
            </p>
            <p>
              The sun reaches its peak at solar noon each day (exactly half way
              between sunrise and sunset) and this calculator shows the angle at
              that time of day. At solar noon, the irradiance from the sun is at
              its zenith and you can generate the most energy.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="makeussuccess relatedproducts govtrelpro">
      <div class="container">
        <h2>
          <span>Shakti</span>
          Solar Pumps
        </h2>
        <div class="suuslider">
          <div class="sucpan">
            <img src="/images/product1.png" alt="" />
            <h3>Submersible Pumps</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product2.png" alt="" />
            <h3>Solar Pumps</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product3.png" alt="" />
            <h3>Vertical Multistage Cen..</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product4.png" alt="" />
            <h3>Shallow Well & Slow Spe..</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
        </div>
        <div class="productsbtns">
          <a href="/product">Check All Products</a>
        </div>
      </div>
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html>
