# Ignore node_modules folder
node_modules/


# Ignore public images
# public/images/

# Ignore JavaScript files in public
public/js/*.js

# Ignore environment variable files (if applicable)
.env

# Ignore log files
*.log

# Ignore package lock file (if you don't want to track it)
package-lock.json

# untracking files
git rm --cached public/css/*.css
git rm --cached public/js/*.js



# Ignore JavaScript files in public
public/js/*.js

# Ignore CSS files in public
public/css/*.css



node_modules
/node_modules