<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
  

  <%- include('../common/header.ejs') %>


<section class="about-banner domesticban govtban solaroem">
  <div class="stban"><img src="/images/oem-banner.png" alt=""></div>
  <div class="container">
    <div class="domebantxt govtbantxt">
      <h2>Solar OEM</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere nibh non eros porta condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum non justo et posuere. Maecenas rutrum.</p>
      <a href="#" class="welresultsbtn"><img src="/images/pdf-icon.png" alt=""> Download Corporate Brochure</a>
    </div>
  </div>
</section>
<section class="numbercount">
  <div class="container">
    <div class="numberinc">
      <!-- partial:index.partial.html -->
<div class="counter-container">
    <img src="/images/Indiamap.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="07"></div>+</div>
      <span>Total City</span>
    </div>
    <div class="counter-container">
      <img src="/images/count-icon3.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="278"></div>+</div>
      <span>Pumps Installed</span>
    </div>

    <div class="counter-container">
      <img src="/images/count-icon5.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="4450"></div>+</div>
      <span>Total Customer</span>
    </div>
    <div class="counter-container">
      <img src="/images/infra1.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="58"></div>+</div>
      <span>Service Centre</span>
    </div>
    <div class="counter-container">
      <img src="/images/count-icon2.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="1020"></div>+</div>
      <span>Happy Customer</span>
    </div>
<!-- partial -->
    </div>
  </div>
</section> 
<section class="makeussuccess relatedproducts govtrelpro">
  <div class="container">
    <h2>
      <span>Shakti</span>
      Solar Pumps
    </h2>
    <div class="suuslider">
      <div class="sucpan">
        <img src="/images/product1.png" alt="">
        <h3>Submersible Pumps</h3>
        <h4>Pumps <span>50 Hz</span></h4>  
      </div>
      <div class="sucpan">
        <img src="/images/product2.png" alt="">
        <h3>Solar Pumps</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      <div class="sucpan">
        <img src="/images/product3.png" alt="">
        <h3>Vertical Multistage Cen..</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      <div class="sucpan">
        <img src="/images/product4.png" alt="">
        <h3>Shallow Well & Slow Spe..</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      
    </div>
    <div class="productsbtns">
      <a href="#">Check All Products</a>
      <a href="#" class="green">Pump Selector</a>
    </div>
  </div>
</section>
<section class="ourclients">
  <div class="container">
    <h2>Our Client</h2>
  <div class="client-logo">
      <img src="/images/client1.png" alt="">
      <img src="/images/client2.png" alt="">
      <img src="/images/client3.png" alt="">
      <img src="/images/client4.png" alt="">
      <img src="/images/client5.png" alt="">
  </div>
  </div>
</section>
<section class="changecountry">
  <div class="container">
    <div class="row interpart">
      <div class="col-lg-6 col-md-6 col-md-12">
        <h5>You Are Belonging To The Country <strong>USA</strong></h5>
      </div>
      <div class="col-lg-6 col-md-6 col-md-12">
        <a href="#" class="readmore changecoun" data-bs-toggle="modal" data-bs-target="#changecountrypop">Change Your Country</a>
      </div>
    </div>
  </div>
</section>
<section class="testimoni">
  <div class="container">
    <h2><span>Client’s</span> Testimonials</h2>
    <div class="testimonialslide">
      <div class="testipan">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="domtestpropic">
              <img src="/images/dom-testipic.png" alt="">
              <img src="/images/play-icon.png" alt="" class="testprovidbtn">
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <p>Hearty wishes to you all in Shakti Pumps. We are a small group of brothers, who have installed 3nos 5HP Pumps to the bore well. Thanks to the timely help and action. Our 9acres paddy crop is saved.</p>
            <p>At the same time having installed the pumps, I bought 2000 Equity shares of Shakti Pumps @ 172. Oh! My phenomenal jump and good annual result. God Bless the entire team of performance and give you more energy in bringing the solar energy into noble use.</p>
            <h3>Mr. Krishna Murti, Bangalore <span>CEO, Company Name</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../common/footer.ejs')%>
     </body>
      </html>