<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
  
    <header class="fullheader">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            <h1>
              <a href="/"><img src="/images/Logo.png" alt=""></a>
            </h1>
          </div>
          <div class="col-lg-7 col-md-2 col-sm-12">
            <!-- <nav>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Services & Support</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contact Us</a></li>                
              </ul>
            </nav> -->
            <nav>
              <div class="navbar">
                <i class='bx bx-menu'></i>
                <!-- <div class="logo"><a href="#">Logo</a></div> -->
                <div class="nav-links">
                  <div class="sidebar-logo">
                    <!-- <span class="logo-name">Logo</span> -->
                    <i class='bx bx-x'></i>
                  </div>
                  <!-- <ul class="links">
                    <li><a href="#">HOME</a></li>
                    <li>
                      <a href="#">HTML & CSS</a>
                      <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                      <ul class="htmlCss-sub-menu sub-menu">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Login Forms</a></li>
                        <li><a href="#">Card Design</a></li>
                        <li class="more">
                          <span><a href="#">More</a>
                            <i class='bx bxs-chevron-right arrow more-arrow'></i>
                          </span>
                          <ul class="more-sub-menu sub-menu">
                            <li><a href="#">Neumorphism</a></li>
                            <li><a href="#">Pre-loader</a></li>
                            <li><a href="#">Glassmorphism</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">JAVASCRIPT</a>
                      <i class='bx bxs-chevron-down js-arrow arrow '></i>
                      <ul class="js-sub-menu sub-menu">
                        <li><a href="#">Dynamic Clock</a></li>
                        <li><a href="#">Form Validation</a></li>
                        <li><a href="#">Card Slider</a></li>
                        <li><a href="#">Complete Website</a></li>
                      </ul>
                    </li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                  </ul> -->
                  <ul class="links">
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Buisness Categories</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Services & Support</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contact Us</a></li>                
                  </ul>
                </div>
                <div class="search-box">
                  <i class='bx bx-search'></i>
                  <div class="input-box">
                    <input type="text" placeholder="Search...">
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-12">
            <div class="top-right">
              <ul>
                <li><a href="#"><img src="/images/Whistleblower.png" alt=""></a></li>
                <li><a href="#"><img src="/images/Search.png" alt=""></a></li>
                <li><a href="#"><img src="/images/global.png" alt=""> EN <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                <li><a href="#">Login <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
<section class="videobanner">
  <video width="100%" height=""  muted autoplay loop>
    <source src="/images/banner-video.mp4" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  </video>
<div class="videoban-content">
    <div class="container" data-animation="fadeInUp">
      <h2>Desh ka Pump Shakti Pump</h2>
      <p>A trusted name in India for delivering high-performance, energy-efficient pumping solutions. Shakti Pumps stand as a symbol of reliability and innovation, providing advanced solutions for various applications across the globe.</p>
      <a href="#" class="resultsbtn"><img src="/images/pdf-icon.png" alt=""> Q3 Result Highlights Fy 2023-24</a>
      <ul class="projectlink">
        <li>
          <a href="/domestic">
            <img src="/images/Indiamap-icon.png" alt="">
            <h3>Domestic</h3>
          </a>
        </li>
        <li>
          <a href="/goverment">
            <img src="/images/Indiamap-icon2.png" alt="">
            <h3>Government Project</h3>
          </a>
        </li>
        <li>
          <a href="/solaroem">
            <img src="/images/Indiamap-icon3.png" alt="">
            <h3>Solar OEM</h3>
          </a>
        </li>
        <li>
          <a href="/industrial">
            <img src="/images/Indiamap-icon4.png" alt="">
            <h3>Industrial</h3>
          </a>
        </li>
        <li>
          <a href="/international">
            <img src="/images/Indiamap-icon5.png" alt="">
            <h3>International</h3>
          </a>
        </li>
      </ul>
    </div>
</div>
</section>
<section class="whatlooking" data-animation="fadeInUp">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2>What are<br> you looking?</h2>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <p>Shakti <a href="#">Pumps</a> is a renowned manufacturer specializing in <a href="#">High-efficiency</a> pumping solutions, catering to diverse needs in <a href="#">Domestic, solar</a> and <a href="#">Industrial</a> sectors. For <a href="#">Domestic</a> applications, <a href="#">Shakti Pumps</a> offers reliable <a href="#">Pressure Booster Pumps</a> that ensure consistent <a href="#">Water Pressure</a> for households.</p>
        </div>
      </div>
  </div>
</section>   
  <section class="numbercount">
    <div class="container" data-animation="fadeInRight">
      <div class="numberinc">
        <!-- partial:index.partial.html -->
  <div class="counter-container">
      <img src="/images/count-icon1.png" alt="">
        <div class="count-wrap"><div class="counter" data-target="42"></div>+</div>
        <span>Years Expertise</span>
      </div>
      <div class="counter-container">
        <img src="/images/count-icon2.png" alt="">
        <div class="count-wrap"><div class="counter" data-target="100"></div>+</div>
        <span>Happy Customer</span>
      </div>
      <div class="counter-container">
        <img src="/images/count-icon3.png" alt="">
        <div class="count-wrap"><div class="counter" data-target="42"></div>+</div>
        <span>Total SKU</span>
      </div>
      <div class="counter-container">
        <img src="/images/count-icon4.png" alt="">
        <div class="count-wrap"><div class="counter" data-target="120"></div>+</div>
        <span>Total Country</span>
      </div>
      <div class="counter-container">
        <img src="/images/count-icon5.png" alt="">
        <div class="count-wrap"><div class="counter" data-target="500"></div>+</div>
        <span>Team Members</span>
      </div>
  <!-- partial -->
      </div>
    </div>
  </section> 
<section class="welcomesec">
  <div class="container" data-animation="fadeInLeft">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>
          <span>Welcome To</span>
          Shakti Pump
        </h2>
        <p>Shakti being one of the pioneers in manufacturing of energy efficient pumps and motors with its latest series of new advanced solar energy operated pumps has emerged as a prestigious brand in domestic and international markets.</p>
        <p>"Shakti" brand products are well received in the market as they are conforming to national international standards coupled with superior quality and durability. Shakti offers advanced water pumping solutions to a wide range of applications such as irrigation – flood and micro irrigation, horticulture, domestic water supply, commercial and industrial applications and so on. With a leading position in solar pump markets in India, Shakti exports a wide range of pumping products to over 100 countries globally.</p>
        <div class="welcomwbtn">
          <a href="#" class="welresultsbtn"><img src="/images/pdf-icon.png" alt=""> Q3 Result Highlights Fy 2023-24</a> <a href="#" class="readmore">Read More</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 welrgt">
        <img src="/images/wel-rgtpic.png" alt="" data-animation="fadeInRight">
      </div>
    </div>
  </div>
</section> 
<section class="worldlarmap">
  <div class="container"  data-animation="fadeInUp">
    <h2>the world's largest pumps,<br>
      motors manufacturer & supplier</h2>
    <div class="dynmap">
      <img src="/images/Map.png" alt="">
      <img src="/images/location-icon.png" alt="" class="locationhover" data-toggle="tooltip" data-placement="bottom" title="India">
    </div>
    
  </div>
</section> 

<section class="makeussuccess">
  <div class="container" data-animation="fadeInLeft">
    <h2>
      <span>Features & Activities</span>
      Which make us successful
    </h2>
    <div class="suuslider">
      <div class="sucpan">
        <img src="/images/suc-pic1.png" alt="">
        <h3>Technology</h3>
        <div class="succhover">
          <h3>Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="sucpan">
        <img src="/images/suc-pic2.png" alt="">
        <h3>Efficient</h3>
        <div class="succhover">
          <h3>Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="sucpan">
        <img src="/images/suc-pic3.png" alt="">
        <h3>Sustainability</h3>
        <div class="succhover">
          <h3>Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ourvalue">
  <div class="container"  data-animation="fadeInUp">
    <h2>Our Values</h2>
    <!-- partial:index.partial.html -->
<ul class="tabs">
  <li class="active" rel="tab1">Brands</li>
  <li rel="tab2">Innovative</li>
  <li rel="tab3">Scale</li>
  <li rel="tab4">Efficient</li>
  <li rel="tab5">Technology</li>
  <li rel="tab6">Presence</li>
  <li rel="tab7">Experience</li>
  <li rel="tab8">Sustainability</li>
</ul>
<div class="tab_container">
  <h3 class="d_active tab_drawer_heading" rel="tab1">Brands</h3>
  <div id="tab1" class="tab_content">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6">
      <img src="/images/tab-pic1.png" alt="">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
      <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
    </div>
  </div>
  </div>
  <!-- #tab1 -->
  <h3 class="tab_drawer_heading" rel="tab2">Innovative</h3>
  <div id="tab2" class="tab_content">
    <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6">
      <img src="/images/tab-pic1.png" alt="">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6">
      <p>Consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
      <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
    </div>
  </div>
  </div>
  <!-- #tab2 -->
  <h3 class="tab_drawer_heading" rel="tab3">Scale</h3>
  <div id="tab3" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  <!-- #tab3 -->
  <h3 class="tab_drawer_heading" rel="tab4">Efficient</h3>
  <div id="tab4" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  <!-- #tab4 --> 
  <h3 class="tab_drawer_heading" rel="tab5">Technology</h3>
  <div id="tab5" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  <!-- #tab5 --> 
  <h3 class="tab_drawer_heading" rel="tab6">Presence</h3>
  <div id="tab6" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  <!-- #tab6 --> 
  <h3 class="tab_drawer_heading" rel="tab6">Sustainability</h3>
  <div id="tab7" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  <!-- #tab7 --> 
  <h3 class="tab_drawer_heading" rel="tab8">Tab 8</h3>
  <div id="tab8" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  <!-- #tab8 --> 
</div>
<!-- .tab_container -->
</div>
<!-- partial -->
  </div>
</section>
<section class="sevaahakti">
  <div class="container" data-animation="fadeInUp">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>
          <img src="/images/seva.png" alt=""><br>
          Shakti <br>Foundation
        </h2>
        <img src="/images/innocent-poor.png" alt="" class="inofrm">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit nisl risus, sit amet varius metus accumsan mollis. Maecenas ultricies justo a luctus sagittis. Ut mollis diam iaculis purus consectetur finibus. Maecenas volutpat elit gravida tincidunt vestibulum. Nulla fermentum odio ut dolor elementum, sed vehicula quam imperdiet.</p>
        <p>Nulla ac risus dapibus, pellentesque purus vitae, laoreet turpis. Vestibulum sed ultrices tellus. Aliquam condimentum dictum purus, in malesuada justo venenatis vitae. Mauris blandit sit amet arcu eu rhoncus. Duis sed ligula ut est euismod ullamcorper ut eget nibh.</p>
        <p>Sed mattis, nulla ut semper consequat, risus nunc dignissim urna, eget tristique urna lacus tempor ipsum. Vivamus volutpat lectus eu tempor tincidunt. Nunc ut semper felis. In hac habitasse platea dictumst. In at felis sed urna commodo posuere vitae eu est. Mauris leo turpis, vehicula id vehicula a, facilisis quis quam. Vivamus volutpat lectus eu tempor tincidunt. Nunc ut semper felis.</p>
        <a href="/csr" class="readmore">Read More</a>
      </div>
    </div>
  </div>
</section>
<section class="newsevent" data-animation="fadeInRight">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="newspan">
          <h2>News</h2>
        <ul>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
        </ul>
        <a href="/newseventListing" class="readmore">View All News</a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="eventdtls">
          <h2>Events</h2>
          <div class="eventslide">
          <div class="eventpan">
          <img src="/images/eventpic1.png">
          <p>Shakti Domestic pumps are Ideal for <span>10th Jan, 2024 | Times Of India</span></p>
          </div>
          </div>
          
          <a href="/newseventListing/event-list" class="readmore">All Events</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="marketinfo">
  <div class="container" data-animation="fadeInLeft">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="marketinfoleft">
          <h2>Market Info</h2>
          <img src="/images/nse.png" alt="">
          <img src="/images/bse.png" alt="">
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="markerinforgt">
        <div class="marketnotice">
          <h2>Notices</h2>
          <p><span>10th Jan, 2024</span>
            Shakti Domestic pumps are Ideal for homes to maintain water pressure in taps and fo</p>
            <p><span>10th Jan, 2024</span>
              Shakti Domestic pumps are Ideal for homes to maintain water pressure in taps and fo</p>
          <a href="/noticeInvestor/notice-list">View All Notices  <svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.0788 7H0V6H22.0788L17.2865 1.20775L18 0.5L24 6.5L18 12.5L17.2865 11.7923L22.0788 7Z" fill="#1F2B4C"/>
          </svg></a>
        </div>
        <div class="marketinvedoc">
          <h2>Investor Documents</h2>
          <p><span>10th Jan, 2024</span>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.5407 14.8179C21.5055 14.8179 20.2348 14.936 18.758 15.1703C16.6965 13.2589 14.5449 10.4675 13.0264 7.72736C14.5325 2.18701 13.7789 1.40256 13.4466 1.03248C13.0929 0.638779 12.5938 0 12.0261 0C11.7884 0 11.1396 0.0944881 10.8816 0.169291C10.2327 0.358268 9.88353 0.795276 9.60416 1.36516C8.80773 2.99213 9.90042 5.76575 11.0247 7.90354C10.0638 11.2431 8.45176 15.2402 6.75753 18.4843C2.48815 20.1929 0.220532 21.8711 0.0155117 23.4724C-0.0588363 24.0551 0.0988735 24.9104 1.27154 25.6791C1.59259 25.8888 1.96884 26 2.36086 26C3.34653 26 4.34234 25.3406 5.49474 23.9262C6.3351 22.8947 7.23741 21.4882 8.17915 19.7421C11.1959 18.5896 14.9279 17.5482 18.1238 16.9646C19.9036 18.4577 21.4976 19.2136 22.8674 19.2136C23.8767 19.2136 24.7419 18.8081 25.3682 18.0413C26.0204 17.2431 26.1691 16.5285 25.8075 15.9154C25.3738 15.1782 24.3048 14.8179 22.5407 14.8179ZM2.38564 24.3386C1.85844 23.9852 1.88886 23.747 1.90012 23.6575C1.96996 23.1102 2.95113 22.1388 5.35843 20.9567C3.53353 23.9016 2.55348 24.2923 2.38564 24.3386ZM11.6228 1.77756C11.6713 1.76378 12.8 2.86122 11.731 4.94291C10.1246 3.50689 11.5124 1.81004 11.6228 1.77756ZM9.29437 17.5512C10.4378 15.1703 11.5012 12.5413 12.3066 10.1063C13.5716 12.0925 15.0913 14.0197 16.612 15.563C14.2081 16.0561 11.6487 16.752 9.29437 17.5512ZM23.8272 17.0797C23.4802 17.5039 22.7277 17.5138 22.4641 17.5138C21.8637 17.5138 21.6395 17.2018 20.7214 16.5846C21.4784 16.5 22.1926 16.4783 22.7615 16.4783C23.763 16.4783 23.9466 16.6073 24.0851 16.6722C24.0603 16.7421 23.995 16.874 23.8272 17.0797Z" fill="#1F2B4C"/>
            </svg> Shakti Domestic pumps are Ideal for homes to maintain water pressure in taps and for general applications.</p>
            <p><span>10th Jan, 2024</span>
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5407 14.8179C21.5055 14.8179 20.2348 14.936 18.758 15.1703C16.6965 13.2589 14.5449 10.4675 13.0264 7.72736C14.5325 2.18701 13.7789 1.40256 13.4466 1.03248C13.0929 0.638779 12.5938 0 12.0261 0C11.7884 0 11.1396 0.0944881 10.8816 0.169291C10.2327 0.358268 9.88353 0.795276 9.60416 1.36516C8.80773 2.99213 9.90042 5.76575 11.0247 7.90354C10.0638 11.2431 8.45176 15.2402 6.75753 18.4843C2.48815 20.1929 0.220532 21.8711 0.0155117 23.4724C-0.0588363 24.0551 0.0988735 24.9104 1.27154 25.6791C1.59259 25.8888 1.96884 26 2.36086 26C3.34653 26 4.34234 25.3406 5.49474 23.9262C6.3351 22.8947 7.23741 21.4882 8.17915 19.7421C11.1959 18.5896 14.9279 17.5482 18.1238 16.9646C19.9036 18.4577 21.4976 19.2136 22.8674 19.2136C23.8767 19.2136 24.7419 18.8081 25.3682 18.0413C26.0204 17.2431 26.1691 16.5285 25.8075 15.9154C25.3738 15.1782 24.3048 14.8179 22.5407 14.8179ZM2.38564 24.3386C1.85844 23.9852 1.88886 23.747 1.90012 23.6575C1.96996 23.1102 2.95113 22.1388 5.35843 20.9567C3.53353 23.9016 2.55348 24.2923 2.38564 24.3386ZM11.6228 1.77756C11.6713 1.76378 12.8 2.86122 11.731 4.94291C10.1246 3.50689 11.5124 1.81004 11.6228 1.77756ZM9.29437 17.5512C10.4378 15.1703 11.5012 12.5413 12.3066 10.1063C13.5716 12.0925 15.0913 14.0197 16.612 15.563C14.2081 16.0561 11.6487 16.752 9.29437 17.5512ZM23.8272 17.0797C23.4802 17.5039 22.7277 17.5138 22.4641 17.5138C21.8637 17.5138 21.6395 17.2018 20.7214 16.5846C21.4784 16.5 22.1926 16.4783 22.7615 16.4783C23.763 16.4783 23.9466 16.6073 24.0851 16.6722C24.0603 16.7421 23.995 16.874 23.8272 17.0797Z" fill="#1F2B4C"/>
              </svg> Shakti Domestic pumps are Ideal for homes to maintain water pressure in taps and for general applications.</p>
          <a href="/noticeInvestor/investor-list">View All Documents  <svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.0788 7H0V6H22.0788L17.2865 1.20775L18 0.5L24 6.5L18 12.5L17.2865 11.7923L22.0788 7Z" fill="#1F2B4C"/>
          </svg></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="motorssec">
  <div class="container" data-animation="fadeInRight">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2><span>The World's <br>Largest</span> Pumps, Motors Manufacturer & Supplier</h2>
        <a href="#" class="readmore">Explore With Us</a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="motorsslide">
          <div class="motorpan">
            <img src="/images/motor-pic1.png" alt="">
            <img src="/images/motor-pic1.png" alt="">
          </div>
          <div class="motorpan">
            <img src="/images/motor-pic1.png" alt="">
            <img src="/images/motor-pic1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tomorrowsucc">
  <div class="container" data-animation="fadeInUp">
    <h2>Tomorrow’s Success Starts Today</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit nisl risus, sit amet varius metus accumsan mollis. Maecenas ultricies justo a luctus sagittis. Ut mollis diam iaculis purus consectetur finibus. Maecenas volutpat elit gravida tincidunt vestibulum.</p>
    <a href="#" class="readmore">Connect With Us</a>
  </div>
</section>
<section>
  <div class="container"></div>
</section>
<section class="testimoni">
  <div class="container" data-animation="fadeInLeft">
    <h2><span>Client’s</span> Testimonials</h2>
    <div class="testimonialslide">
      <div class="testipan">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="testpropic">
              <img src="/images/testimoni-profile-frame.png" alt="" class="testprofrm">
              <img src="/images/testimoni-profile-pic.png" alt="" class="testproimg">
              <img src="/images/play-icon.png" alt="" class="testprovidbtn">
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12">
            <p>Hearty wishes to you all in Shakti Pumps. We are a small group of brothers, who have installed 3nos 5HP Pumps to the bore well. Thanks to the timely help and action. Our 9acres paddy crop is saved.</p>
            <p>At the same time having installed the pumps, I bought 2000 Equity shares of Shakti Pumps @ 172. Oh! My phenomenal jump and good annual result. God Bless the entire team of performance and give you more energy in bringing the solar energy into noble use.</p>
            <h3>Mr. Krishna Murti, Bangalore <span>CEO, Company Name</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="full-footer desk">
  <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com</p>
          <p>Phone: +91-7292-410500<br>
            Fax: +91-7292-410645<br>
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 flogo"><img src="/images/flogo.png" alt=""></div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        </div>
    </div>
  </section>
</footer>
<footer class="full-footer mob">
  <div class="footmenu">Others Menu <i class="bx bx-menu"></i></div>
  <div class="fmenumob">
    <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com
            Phone: +91-7292-410500
            Fax: +91-7292-410645
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 flogo"><img src="/images/flogo.png" alt=""></div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
      </div>
    </div>
  </section>
  </div>
    <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
        </div>
    </div>
  </section>
</footer>
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/script-loading.js"></script>
<script type="text/javascript" src="/js/script-numbercounter.js"></script>
<script type="text/javascript" src="/js/tabscript.js"></script>
<script type="text/javascript" src="/js/menu-script.js"></script>
<script>
  $(document).ready(function() {
        var owl = $('.testimonialslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.suuslider');
        owl.owlCarousel({
          margin: 15,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 3
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.motorsslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 2
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.eventslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
  $(document).ready(function(){
    $(".footmenu").click(function(){
      $(".fmenumob").toggle();
    });
  });
  </script>
     </body>
      </html>