<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
  
    <%- include('../common/header.ejs') %>

<section class="about-banner sevsaktiban">
  <div><img src="/images/sevashakti-banner.png" alt=""></div>
  <div class="container">
    <h2>
        <span><img src="/images/seva.png" alt=""></span>
        Lorem ipsum dolor sit amet consectetur
    </h2>
  </div>
</section>
<section class="whatlooking" data-animation="fadeInUp">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Shakti <br>Foundation</h2>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 shaktifoud">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet.</p>
            <p>Duis nec est a nisl lacinia blandit euismod nec tortor. Fusce iaculis purus eu iaculis blandit. Maecenas pretium, erat nec tempor gravida, enim diam consequat tellus, sed consequat arcu nulla in lectus. Curabitur blandit.</p>
          </div>
        </div>
    </div>
  </section> 
  <section class="foundtiontab">
    <div class="container">
        <!-- partial:index.partial.html -->
    <ul class="tabs">
      <li class="active" rel="tab1">Education</li>
      <li rel="tab2">Farming</li>
      <li rel="tab3">Health</li>
      <li rel="tab4">Environment</li>
      <li rel="tab5">Relief Work</li>
      <li rel="tab6">Women Empowerment</li>
      <li rel="tab7">Government Schemes</li>
    </ul>
    <div class="tab_container">
      <h3 class="d_active tab_drawer_heading" rel="tab1">Brands</h3>
      <div id="tab1" class="tab_content">
        <div class="foundtabinsid">
            <h2>Farming <span><input type="text" value="" placeholder="Search"> <input type="submit" value=""> </span></h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis sed nulla. Curabitur vestibulum ligula a sapien semper pharetra.</p>
             <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
             </div>
        </div>
      </div>
      <!-- #tab1 -->
      <h3 class="tab_drawer_heading" rel="tab2">Innovative</h3>
      <div id="tab2" class="tab_content">
        <div class="foundtabinsid">
          <h2>Farming <span><input type="text" value="" placeholder="Search"> <input type="submit" value=""> </span></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis sed nulla. Curabitur vestibulum ligula a sapien semper pharetra.</p>
           <div class="tablistfound">
              <h3>In The Year Of 2024</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <h3>In The Year Of 2023</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
           </div>
      </div>
      </div>
      <!-- #tab2 -->
      <h3 class="tab_drawer_heading" rel="tab3">Scale</h3>
      <div id="tab3" class="tab_content">
        <div class="foundtabinsid">
          <h2>Farming <span><input type="text" value="" placeholder="Search"> <input type="submit" value=""> </span></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis sed nulla. Curabitur vestibulum ligula a sapien semper pharetra.</p>
           <div class="tablistfound">
              <h3>In The Year Of 2024</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <h3>In The Year Of 2023</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
           </div>
      </div>
      </div>
      <!-- #tab3 -->
      <h3 class="tab_drawer_heading" rel="tab4">Efficient</h3>
      <div id="tab4" class="tab_content">
        <div class="foundtabinsid">
          <h2>Farming <span><input type="text" value="" placeholder="Search"> <input type="submit" value=""> </span></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis sed nulla. Curabitur vestibulum ligula a sapien semper pharetra.</p>
           <div class="tablistfound">
              <h3>In The Year Of 2024</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <h3>In The Year Of 2023</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
           </div>
      </div>
      </div>
      <!-- #tab4 --> 
      <h3 class="tab_drawer_heading" rel="tab5">Technology</h3>
      <div id="tab5" class="tab_content">
        <div class="foundtabinsid">
          <h2>Farming <span><input type="text" value="" placeholder="Search"> <input type="submit" value=""> </span></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis sed nulla. Curabitur vestibulum ligula a sapien semper pharetra.</p>
           <div class="tablistfound">
              <h3>In The Year Of 2024</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <h3>In The Year Of 2023</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
           </div>
      </div>
      </div>
      <!-- #tab5 --> 
      <h3 class="tab_drawer_heading" rel="tab6">Presence</h3>
      <div id="tab6" class="tab_content">
        <div class="foundtabinsid">
          <h2>Farming <span><input type="text" value="" placeholder="Search"> <input type="submit" value=""> </span></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis sed nulla. Curabitur vestibulum ligula a sapien semper pharetra.</p>
           <div class="tablistfound">
              <h3>In The Year Of 2024</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <h3>In The Year Of 2023</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
           </div>
      </div>
      </div>
      <!-- #tab6 --> 
      <h3 class="tab_drawer_heading" rel="tab6">Sustainability</h3>
      <div id="tab7" class="tab_content">
        <div class="foundtabinsid">
          <h2>Farming <span><input type="text" value="" placeholder="Search"> <input type="submit" value=""> </span></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis sed nulla. Curabitur vestibulum ligula a sapien semper pharetra.</p>
           <div class="tablistfound">
              <h3>In The Year Of 2024</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <h3>In The Year Of 2023</h3>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
           </div>
      </div>
      </div>
      <!-- #tab7 --> 
    </div>
    <!-- .tab_container -->
    </div>
  </section>
 <%- include('../common/footer.ejs') %>
     </body>
      </html>