<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="about-banner sevsaktiban">
      <div><img src="/images/sevashakti-banner.png" alt="" /></div>
      <div class="container">
        <h2>
          <span><img src="/images/seva.png" alt="" /></span>
          Shakti Foundation - SEVA
        </h2>
      </div>
    </section>
    <section class="whatlooking" data-animation="fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Shakti <br />Foundation</h2>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 shaktifoud">
            <p>
              At Shakti Pumps, we believe in giving back to the communities that
              have supported us throughout our journey. Through the Shakti
              Foundation’s SEVA initiatives, we are dedicated to making a
              meaningful difference in the lives of those around us. Our CSR
              efforts focus on three key areas: education, healthcare, and
              social development.
            </p>
            <p>
              The SEVA-Shakti Foundation Charitable Trust is dedicated to
              enhancing health awareness and facilities within the community.
              With health as our top priority, we’re expanding our focus to
              improve education and create employment opportunities in and
              around Indore.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="foundtiontab">
      <div class="container">
        <!-- partial:index.partial.html -->
        <ul class="tabs">
          <li class="active" rel="tab1">Education</li>
          <li rel="tab2">Healthcare</li>
          <li rel="tab3">Social Development</li>
          <!-- <li rel="tab4">Environment</li>
      <li rel="tab5">Relief Work</li>
      <li rel="tab6">Women Empowerment</li>
      <li rel="tab7">Government Schemes</li> -->
        </ul>
        <div class="tab_container">
          <h3 class="d_active tab_drawer_heading" rel="tab1">Education</h3>
          <div id="tab1" class="tab_content">
            <div class="foundtabinsid">
              <h2>
                Education
                <span
                  ><input type="text" value="" placeholder="Search" />
                  <input type="submit" value="" />
                </span>
              </h2>
              <p>
                We recognize that education is the cornerstone of sustainable
                development. Our initiatives aim to enhance educational
                opportunities for underprivileged children and youth, providing
                them with the resources they need to succeed. From scholarships
                to infrastructure development, we strive to create a nurturing
                environment that fosters learning and personal growth.
              </p>
              <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <!-- <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div> -->
                <!-- <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div>
                <div class="tablistpanfound">
                    <img src="/images/ftab-pic1.png" alt="">
                </div> -->
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- #tab1 -->
          <h3 class="tab_drawer_heading" rel="tab2">Healthcare</h3>
          <div id="tab2" class="tab_content">
            <div class="foundtabinsid">
              <h2>
                Healthcare
                <span
                  ><input type="text" value="" placeholder="Search" />
                  <input type="submit" value="" />
                </span>
              </h2>
              <p>
                Access to quality healthcare is essential for a thriving
                community. Our healthcare initiatives focus on providing medical
                support, health awareness programs, and essential services to
                improve the overall well-being of individuals in need. We are
                committed to promoting healthier lives through regular health
                camps, free medical check-ups, and awareness campaigns.
              </p>
              <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <!-- <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div> -->
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- #tab2 -->
          <h3 class="tab_drawer_heading" rel="tab3">Social Development</h3>
          <div id="tab3" class="tab_content">
            <div class="foundtabinsid">
              <h2>
                Social Development
                <span
                  ><input type="text" value="" placeholder="Search" />
                  <input type="submit" value="" />
                </span>
              </h2>
              <p>
                We believe in empowering communities to foster
                self-sustainability. Our social development initiatives aim to
                uplift marginalized groups through skill development programs,
                vocational training, and financial literacy workshops. By
                equipping individuals with the necessary skills, we help them
                secure better livelihoods and contribute positively to society.
                Through these initiatives, Shakti Pumps is committed to creating
                a positive impact and supporting sustainable growth in our
                communities. Our success is intertwined with the well-being of
                the society we serve, and we are dedicated to being a
                responsible corporate citizen. Join us on this journey of
                transformation and empowerment, as we work together to build a
                brighter future for all.
              </p>
              <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <!-- <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div> -->
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- #tab3 -->
          <h3 class="tab_drawer_heading" rel="tab4">Efficient</h3>
          <div id="tab4" class="tab_content">
            <div class="foundtabinsid">
              <h2>
                Farming
                <span
                  ><input type="text" value="" placeholder="Search" />
                  <input type="submit" value="" />
                </span>
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl.
                Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi
                eget enim viverra euismod. Nunc sit amet odio sit amet dui
                euismod luctus quis sed nulla. Curabitur vestibulum ligula a
                sapien semper pharetra.
              </p>
              <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <!-- <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div>
              <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="">
              </div> -->
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- #tab4 -->
          <h3 class="tab_drawer_heading" rel="tab5">Technology</h3>
          <div id="tab5" class="tab_content">
            <div class="foundtabinsid">
              <h2>
                Farming
                <span
                  ><input type="text" value="" placeholder="Search" />
                  <input type="submit" value="" />
                </span>
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl.
                Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi
                eget enim viverra euismod. Nunc sit amet odio sit amet dui
                euismod luctus quis sed nulla. Curabitur vestibulum ligula a
                sapien semper pharetra.
              </p>
              <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- #tab5 -->
          <h3 class="tab_drawer_heading" rel="tab6">Presence</h3>
          <div id="tab6" class="tab_content">
            <div class="foundtabinsid">
              <h2>
                Farming
                <span
                  ><input type="text" value="" placeholder="Search" />
                  <input type="submit" value="" />
                </span>
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl.
                Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi
                eget enim viverra euismod. Nunc sit amet odio sit amet dui
                euismod luctus quis sed nulla. Curabitur vestibulum ligula a
                sapien semper pharetra.
              </p>
              <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- #tab6 -->
          <h3 class="tab_drawer_heading" rel="tab6">Sustainability</h3>
          <div id="tab7" class="tab_content">
            <div class="foundtabinsid">
              <h2>
                Farming
                <span
                  ><input type="text" value="" placeholder="Search" />
                  <input type="submit" value="" />
                </span>
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl.
                Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi
                eget enim viverra euismod. Nunc sit amet odio sit amet dui
                euismod luctus quis sed nulla. Curabitur vestibulum ligula a
                sapien semper pharetra.
              </p>
              <div class="tablistfound">
                <h3>In The Year Of 2024</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <h3>In The Year Of 2023</h3>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
                <div class="tablistpanfound">
                  <img src="/images/ftab-pic1.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- #tab7 -->
        </div>
        <!-- .tab_container -->
      </div>
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html>
