<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="newsfilter">
      <div class="container">
        <div class="row" style="justify-content: le;">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <h2>
              Shakti Pumps News
              <span>Total News: 20</span>
            </h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 newfilrgt">
            <select>
              <option>Select Category</option>
            </select>
            <input type="date" value="DD.MM.YYYY" />
          </div>
        </div>
      </div>
    </section>
    <section class="newslist">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic1.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic2.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic3.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic4.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic5.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic6.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic7.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic8.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic9.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row newslistpan">
              <div class="col-lg-4 col-md-4 col-sm-12 newslithum">
                <img src="/images/news-pic10.png" alt="" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12 newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  sempernon imperdiet. Morbi velit...
                </p>
                <a href="/newseventListing/particular-news"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="readmore">Load More</a>
      </div>
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html> -->
