<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="img/fav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="css/bootstrap.min.css">
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style-loading.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
  
    <%- include('../common/header.ejs') %>

    <section class="productban mediabann">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Media</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere nibh.</p>
            <a href="#" class="welresultsbtn"><img src="images/pdf-icon.png" alt=""> Download Corporate Brochure</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mediaban">
            <img src="images/media-banner.png" alt="">
          </div>
        </div>
      </div>
    </section>
<section class="whatlooking meadiastaytxt" data-animation="fadeInUp">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2>Stay Informed<br>
            With Shakti<br> 
            Pumps</h2>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet.</p>
          <p>Duis nec est a nisl lacinia blandit euismod nec tortor. Fusce iaculis purus eu iaculis blandit. Maecenas pretium, erat nec tempor gravida, enim diam consequat tellus, sed consequat arcu nulla in lectus. Curabitur blandit.</p>
        </div>
      </div>
  </div>
</section>
<section class="newsevent">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="newspan">
          <h2>News</h2>
        <ul>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
          <li>
            <p>Shakti Domestic pumps are Ideal for homes to maintain water pressure in</p>
            <div><span> 10th Jan, 2024</span> <span>Times Of India</span></div>
          </li>
        </ul>
        <a href="/media/news-listing" class="readmore">View All News</a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="eventdtls">
          <h2>Events</h2>
          <div class="eventslide">
          <div class="eventpan">
          <img src="images/eventpic1.png">
          <p>Shakti Domestic pumps are Ideal for <span>10th Jan, 2024 | Times Of India</span></p>
          </div>
          </div>
          
          <a href="#" class="readmore">All Events</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="makeussuccess mediavideopan">
  <div class="container suppteam">
    <h2><span>Stay With</span>Shakti Videos</h2>
    <h3>Total Happy Customers <span>50</span></h3>
    <div class="suuslider">
      <div class="lifrresoucecard">
        <img src="images/video-pic1.png" alt="">
        <img src="images/play-icon.png" alt="" class="play-icon">
        <h5>Category Name</h5>
        <h4>Hum Hain Desh Ke Annadata Ki Shakti - ShaktiPumps New TVC</h4>
        <h6>15th May, 2024 <a href="#"><img src="images/more-arrow.png" alt=""></a></h6>
      </div>
      <div class="lifrresoucecard">
        <img src="images/video-pic1.png" alt="">
        <img src="images/play-icon.png" alt="" class="play-icon">
        <h5>Category Name</h5>
        <h4>Hum Hain Desh Ke Annadata Ki Shakti - ShaktiPumps New TVC</h4>
        <h6>15th May, 2024 <a href="#"><img src="images/more-arrow.png" alt=""></a></h6>
      </div>
      <div class="lifrresoucecard">
        <img src="images/video-pic1.png" alt="">
        <img src="images/play-icon.png" alt="" class="play-icon">
        <h5>Category Name</h5>
        <h4>Hum Hain Desh Ke Annadata Ki Shakti - ShaktiPumps New TVC</h4>
        <h6>15th May, 2024 <a href="#"><img src="images/more-arrow.png" alt=""></a></h6>
      </div>
      </div>
  </div>
</section>  
<section class="mediapresskit">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="medividcol">
          <!-- <img src="images/shaktipumpsmedivideobg.png" alt="" class="vidbgg"> -->
          <div class="mrdiapreeontent">
            <img src="images/play-wh.png" alt="">
          <h2>
            <span>Shakti Pumps</span>
            Corporate Movie
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="presskitlisting">
          <h2>Press Kit</h2>
          <h3>Company Logos 2015</h3>
          <div class="mediapdfdown">
            <div class="mediafromat"><img src="images/png-icon.png" alt=""></div>
            <h4>Company logo - Vertical <span>PNG format</span></h4>
           <img src="images/download-icons.png" alt="" class="mediadownld">
          </div>
          <div class="mediapdfdown">
            <div class="mediafromat"><img src="images/png-icon.png" alt=""></div>
            <h4>Company logo - Vertical <span>PNG format</span></h4>
           <img src="images/download-icons.png" alt="" class="mediadownld">
          </div>
          <h3>Company Logos 2015</h3>
          <div class="mediapdfdown">
            <div class="mediafromat"><img src="images/jpg-icon.png" alt=""></div>
            <h4>Company logo - Vertical <span>PNG format</span></h4>
           <img src="images/download-icons.png" alt="" class="mediadownld">
          </div>
          <div class="mediapdfdown">
            <div class="mediafromat"><img src="images/pdf-icon2.png" alt=""></div>
            <h4>Company logo - Vertical <span>PNG format</span></h4>
           <img src="images/download-icons.png" alt="" class="mediadownld">
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
<section class="ourvalue mediasoacial">
  <div class="container"  data-animation="fadeInUp">
    <h2>Social Media</h2>
    <!-- partial:index.partial.html -->
<ul class="tabs">
  <li class="active" rel="tab1">Share On Facebook</li>
  <li rel="tab2">Share On Twitter</li>
  <li rel="tab3">Share On Linkedin</li>
</ul>
<div class="tab_container">
  <h3 class="d_active tab_drawer_heading" rel="tab1">Share On Facebook</h3>
  <div id="tab1" class="tab_content">
  <div class="masonry-list">
    <img src="images/social1.png">
    <img src="images/social2.png">
    <img src="images/social3.png">
    <img src="images/social1.png">
    <img src="images/social2.png">
    <img src="images/social3.png">
    <img src="images/social2.png">
  </div>
  <a href="#" class="readmore viewmorefbbtn">View More 48 Facebook Feed</a>
  </div>
  <!-- #tab1 -->
  <h3 class="tab_drawer_heading" rel="tab2">Share On Twitter</h3>
  <div id="tab2" class="tab_content">
    <div class="masonry-list">
      <img src="images/social1.png">
      <img src="images/social2.png">
      <img src="images/social3.png">
      <img src="images/social1.png">
      <img src="images/social2.png">
      <img src="images/social3.png">
      <img src="images/social2.png">
    </div>
    <a href="#" class="readmore viewmorefbbtn">View More 48 Facebook Feed</a>
  </div>
  <!-- #tab2 -->
  <h3 class="tab_drawer_heading" rel="tab3">Share On Linkedin</h3>
  <div id="tab3" class="tab_content">
    <div class="masonry-list">
      <img src="images/social1.png">
      <img src="images/social2.png">
      <img src="images/social3.png">
      <img src="images/social1.png">
      <img src="images/social2.png">
      <img src="images/social3.png">
      <img src="images/social2.png">
    </div>
    <a href="#" class="readmore viewmorefbbtn">View More 48 Facebook Feed</a>
  </div>
  <!-- #tab3 -->
    <h3 class="tab_drawer_heading" rel="tab8">Tab 8</h3>
  <div id="tab8" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  <!-- #tab8 --> 
</div>
<!-- .tab_container -->
</div>
<!-- partial -->
  </div>
</section>
<section class="makeussuccess mediavideopan shktpressrel">
  <div class="container suppteam">
    <h2><span>Shakti Pumps</span>Press Release</h2>
    <h3>Total Press Release <span>50</span></h3>
    <div class="suuslider">

        <a href="/media/press-release">
      <div class="lifrresoucecard pressrelcard">
        <img src="images/mediscreen1.png" alt="">
        <h4>Shakti Pumps Receives Patent</h4>
        <h6><img src="images/calendar.png" alt=""> 15th May, 2024</h6>
      </div>
    </a>
        <a href="/media/press-release">
      <div class="lifrresoucecard pressrelcard">
        <img src="images/mediscreen1.png" alt="">
        <h4>Shakti Pumps Receives Patent</h4>
        <h6><img src="images/calendar.png" alt=""> 15th May, 2024</h6>
      </div>
    </a>
        <a href="/media/press-release">
      <div class="lifrresoucecard pressrelcard">
        <img src="images/mediscreen1.png" alt="">
        <h4>Shakti Pumps Receives Patent</h4>
        <h6><img src="images/calendar.png" alt=""> 15th May, 2024</h6>
      </div>
    </a>
      </div>
  </div>
</section> 
<section class="makeussuccess blogslide">
  <div class="container suppteam">
    <h2>Shakti Blog</h2>
    <h3>Total Shakti Blog <span>50</span></h3>
    <div class="suuslider">
      <div class="lifrresoucecard">
        <a href="/media/blog-listing">
            <img src="images/blog-pic1.png" alt="">
            <h5>Category Name</h5> 
            <h4>Shakti Pumps has installed a total of 107 pump sets at Bharat Mandapam</h4>
            <h6><img src="images/calendar.png" alt=""> 15th May, 2024</h6>
        </a>
      </div>
      <div class="lifrresoucecard">
        <a href="/media/blog-listing">
            <img src="images/blog-pic1.png" alt="">
            <h5>Category Name</h5> 
            <h4>Shakti Pumps has installed a total of 107 pump sets at Bharat Mandapam</h4>
            <h6><img src="images/calendar.png" alt=""> 15th May, 2024</h6>
        </a>
      </div>
      <div class="lifrresoucecard">
        <a href="/media/blog-listing">
            <img src="images/blog-pic1.png" alt="">
            <h5>Category Name</h5> 
            <h4>Shakti Pumps has installed a total of 107 pump sets at Bharat Mandapam</h4>
            <h6><img src="images/calendar.png" alt=""> 15th May, 2024</h6>
        </a>
      </div>
      </div>
  </div>
</section> 

<%- include('../common/footer.ejs')%>
     </body>
      </html>