<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="productban">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Products</h2>
            <p>
              Reliable and high-performance pumps crafted for diverse
              applications, ensuring efficiency and sustainability.
            </p>
            <a href="#" class="welresultsbtn"
              ><img src="/images/pdf-icon.png" alt="" /> Download Product
              Brochure</a
            >
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="/images/product-banpic.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="whatlooking contribution">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>About Our <br />Product Range</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p>
              At Shakti Pumps, we combine cutting-edge technology with
              unparalleled expertise to deliver superior pumping solutions.
            </p>
            <p>
              Whether you need advanced systems for agriculture, industry, or
              domestic use, we’ve got you covered. Explore our product
              categories to find the perfect fit for your requirements.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="makeussuccess procat">
      <div class="container">
        <h2>
          <span>Shakti pumps</span>
          Products Category
        </h2>
        <div class="produccat">
          <div class="sucpan">
            <a href="/product/product-listing/pumps">
              <img src="/images/product-cat1.png" alt="" />
              <h3>Pumps</h3>
            </a>
          </div>
          <div class="sucpan">
            <a href="/product/product-listing/motor"
              ><img src="/images/product-cat2.png" alt="" />
              <h3>Motor</h3></a
            >
          </div>
          <div class="sucpan">
            <a href="/product/product-listing/solarpumps"
              ><img src="/images/product-cat3.png" alt="" />
              <h3>Solar Pumps</h3></a
            >
          </div>
          <div class="sucpan">
            <a href="/product/product-listing/controllers">
              <img src="/images/product-cat4.png" alt="" />
              <h3>Controllers</h3>
            </a>
          </div>
          <div class="sucpan">
            <a href="/product/product-listing/inverters"
              ><img src="/images/product-cat5.png" alt="" />
              <h3>Inverters</h3></a
            >
          </div>
          <div class="sucpan">
            <a href="/product/product-listing/other">
              <img src="/images/product-cat6.png" alt="" />
              <h3>Others</h3>
            </a>
          </div>
        </div>
      </div>
    </section>
    <%- include('../common/footer.ejs')%>
  </body>
</html>
