<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/xzoom/dist/xzoom.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="produttitlebar">
      <div class="container">
        <div class="row"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="protitlebrcam">
            <h2>Submersible Pumps</h2>
            <ul>
              <li><a href="#">Product</a></li>
              <li><a href="#">Pumps</a></li>
              <li>
                <a href="#" class="active"
                  ><!-- Shallow Well & Slow Speed Pumps --></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="prodtlsrgtbtn">
            <a href="#" class="welresultsbtn"
              ><img src="/images/pdf-icon.png" alt="" /> Download</a
            >
            <a href="#" class="welresultsbtn green">Enquire Now</a>
            <a href="#" class="sharebox"
              ><img src="/images/share-icon.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </section>
    <section class="ourvalue mediasoacial producttabv">
      <div class="container" data-animation="fadeInUp">
        <h2 class="rangetitle">Range Of Products</h2>
        <!-- partial:index.partial.html -->
        <ul class="tabs">
          <li class="active" rel="tab1">Submersible Pump </li>
          <li rel="tab2">Positive Displacement Submersible Pumpset</li>
          <li rel="tab3">Inverter Submersible Pumpset</li>
          <li rel="tab4">Shakti Submersible Plug and Play Pump</li>
          <!-- <li rel="tab5">V10</li> -->
        </ul>
        <div class="tab_container">
          <h3 class="d_active tab_drawer_heading" rel="tab1">
            Submersible Pump
          </h3>
          <div id="tab1" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="prodsligall">
                  <!-- <img src="/images/product-detailsgall.png" alt=""> -->
                  <!-- default start -->
                  <section id="default" class="padding-top0">
                    <div class="row">
                      <div class="large-5 column">
                        <div class="xzoom-container">
                          <img
                            class="xzoom"
                            id="xzoom-default"
                            src="/images/submersiblePumps.png"
                            xoriginal="/images/submersiblePumps.png"
                          />
                          <div class="xzoom-thumbs">
                            <a href="/images/submersiblePumps.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/submersiblePumps.png"
                                xpreview="/images/submersiblePumps.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/submersiblePumps.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/submersiblePumps.png"
                                xpreview="/images/submersiblePumps.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/submersiblePumps.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/submersiblePumps.png"
                                xpreview="/images/submersiblePumps.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/submersiblePumps.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/submersiblePumps.png"
                                xpreview="/images/submersiblePumps.png"
                                title="The description goes here"
                            /></a>
                          </div>
                        </div>
                      </div>
                      <div class="large-7 column"></div>
                    </div>
                  </section>
                  <!- default end ->
                </div>
                <div class="amzbtn">
                  <a href="#" class="readmore">Enquire Now</a>
                  <a href="#" class="">
                    <img src="/images/amzbtn.png" alt="" />
                  </a>
                </div>
                <div class="chkpmkusumsec">
                  <img src="/images/govt.png" alt="" />
                  <h2><span>Applicable In </span> PM Kusum</h2>
                  <a href="#" class="readmore">Check Your Status</a>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="prodescription">
                  <div class="">
                    <div class="prodesc">
                      <label>Description</label>
                      <div class="prodesdtls">
                        <p>
                          Shakti Submersible Pumps stand out in the market for
                          their high quality and excellent performance. They
                          focus on manufacturing the best quality submersible
                          pumps that consume less energy, have a long life, and
                          are easy to maintain. Shakti Pumps offers submersible
                          pumps with energy-efficient duty points ranging from
                          0.1 to 335 m³/h. The Shakti Submersible Pumps range
                          includes many pump sizes, each available with an
                          optional number of stages to match any duty point.
                        </p>
                        <p>
                          Shakti pumps offer a complete range of submersible
                          pumps and submersible motors, made entirely of
                          stainless steel AISI-304 as a standard. This provides
                          good wear resistance and a reduced risk of corrosion
                          when pumping ordinary cold water with a minor content
                          of chloride.
                        </p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Performance</label>
                      <div class="performdtls">
                        <p>
                          <span>Head. H :</span> <strong>Max. 660 m </strong>
                        </p>
                        <p>
                          <span>Discharge :</span>
                          <strong>Max. 7333 LPM</strong>
                        </p>
                        <p>
                          <span>Flow. Q :</span> <strong>440 m°/ hr</strong>
                        </p>
                        <p>
                          <span>Rating :</span>
                          <strong>0.5 HP to 335 HP</strong>
                        </p>
                        <p>
                          <span>Liquid Temp. : </span>
                          <strong>0° C to 40° C O</strong>
                        </p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Features</label>
                      <div class="featudtls">
                        <ul>
                          <li>High operating efficiency.</li>
                          <li>Highly durable & Hygienic.</li>
                          <li>Good Resistance to sand.</li>
                          <li>Can be easily dismantled and repaired.</li>
                          <li>Can handle upthrust load.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Application</label>
                      <div class="featudtls">
                        <ul>
                          <li>Irrigation, domestic water supply.</li>
                          <li>Fountains, industrial water supply.</li>
                          <li>Pressure boosting units , ponds</li>
                          <li>Gardens, Sprinkler systems and mining.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Delivery</label>
                      <div class="deliverdtls">
                        <p>
                          <strong>32 MM</strong> <strong>38 MM</strong>
                          <strong>50 MM</strong> <strong>65 MM</strong>
                          <strong>75 MM</strong> <strong>100 MM</strong>
                          <strong>150 MM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- #tab1 -->

          <!-- Tab-2 = Positive Displacement Submersible Pumpset starts from here  -->

          <h3 class="tab_drawer_heading" rel="tab2">
            Positive Displacement Submersible Pumpset
          </h3>
          <div id="tab2" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="prodsligall">
                  <!-- <img src="/images/product-detailsgall.png" alt=""> -->
                  <!-- default start -->
                  <section id="default" class="padding-top0">
                    <div class="row">
                      <div class="large-5 column">
                        <div class="xzoom-container">
                          <img
                            class="xzoom"
                            id="xzoom-default"
                            src="/images/product-big.png"
                            xoriginal="/images/product-big.png"
                          />
                          <div class="xzoom-thumbs">
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                          </div>
                        </div>
                      </div>
                      <div class="large-7 column"></div>
                    </div>
                  </section>
                </div>
                <div class="amzbtn">
                  <a href="#" class="readmore">Enquire Now</a>
                  <a href="#" class="">
                    <img src="/images/amzbtn.png" alt="" />
                  </a>
                </div>
                <div class="chkpmkusumsec">
                  <img src="/images/govt.png" alt="" />
                  <h2><span>Applicable In </span> PM Kusum</h2>
                  <a href="#" class="readmore">Check Your Status</a>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="prodescription">
                  <div class="">
                    <div class="prodesc">
                      <label>Description</label>
                      <div class="prodesdtls">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Performance</label>
                      <div class="performdtls">
                        <p>
                          <span>Head. H</span> <strong>22 m to 28 m</strong>
                        </p>
                        <p>
                          <span>Discharge</span>
                          <strong>30 LPM to 102 LPM</strong>
                        </p>
                        <p><span>Flow. Q</span> <strong>90 LPM</strong></p>
                        <p><span>Rating</span> <strong>HP</strong></p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Features</label>
                      <div class="featudtls">
                        <ul>
                          <li>High Operating Efficiency</li>
                          <li>Highly Durable & Hygienic</li>
                          <li>Good Resistance To Stand</li>
                          <li>Good Resistance To Stand</li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Application</label>
                      <div class="featudtls">
                        <ul>
                          <li>Rural And Urban Draining Water Installations</li>
                          <li>Water Supply To High Rise Buildings</li>
                          <li>Water Circulating System For Lawns & Gardens</li>
                          <li>
                            Agricultural Lift Sprinkler And Drip Irrigation
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Delivery</label>
                      <div class="deliverdtls">
                        <p>
                          <strong>25 MM</strong> <strong>50 MM</strong>
                          <strong>65 MM</strong> <strong>75 MM</strong>
                          <strong>100 MM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- #tab2 -->

          <!-- Tab-3 = Inverter Submersible Pumpset starts form here -->

          <h3 class="tab_drawer_heading" rel="tab3">
            Inverter Submersible Pumpset
          </h3>
          <div id="tab3" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="prodsligall">
                  <!-- <img src="/images/product-detailsgall.png" alt=""> -->
                  <section id="default" class="padding-top0">
                    <div class="row">
                      <div class="large-5 column">
                        <div class="xzoom-container">
                          <img
                            class="xzoom"
                            id="xzoom-default"
                            src="/images/product-big.png"
                            xoriginal="/images/product-big.png"
                          />
                          <div class="xzoom-thumbs">
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                          </div>
                        </div>
                      </div>
                      <div class="large-7 column"></div>
                    </div>
                  </section>
                </div>
                <div class="amzbtn">
                  <a href="#" class="readmore">Enquire Now</a>
                  <a href="#" class="">
                    <img src="/images/amzbtn.png" alt="" />
                  </a>
                </div>
                <div class="chkpmkusumsec">
                  <img src="/images/govt.png" alt="" />
                  <h2><span>Applicable In </span> PM Kusum</h2>
                  <a href="#" class="readmore">Check Your Status</a>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="prodescription">
                  <div class="">
                    <div class="prodesc">
                      <label>Description</label>
                      <div class="prodesdtls">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Performance</label>
                      <div class="performdtls">
                        <p>
                          <span>Head. H</span> <strong>22 m to 28 m</strong>
                        </p>
                        <p>
                          <span>Discharge</span>
                          <strong>30 LPM to 102 LPM</strong>
                        </p>
                        <p><span>Flow. Q</span> <strong>90 LPM</strong></p>
                        <p><span>Rating</span> <strong>HP</strong></p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Features</label>
                      <div class="featudtls">
                        <ul>
                          <li>High Operating Efficiency</li>
                          <li>Highly Durable & Hygienic</li>
                          <li>Good Resistance To Stand</li>
                          <li>Good Resistance To Stand</li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Application</label>
                      <div class="featudtls">
                        <ul>
                          <li>Rural And Urban Draining Water Installations</li>
                          <li>Water Supply To High Rise Buildings</li>
                          <li>Water Circulating System For Lawns & Gardens</li>
                          <li>
                            Agricultural Lift Sprinkler And Drip Irrigation
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Delivery</label>
                      <div class="deliverdtls">
                        <p>
                          <strong>25 MM</strong> <strong>50 MM</strong>
                          <strong>65 MM</strong> <strong>75 MM</strong>
                          <strong>100 MM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- #tab3 -->
          <!-- Tab-4 = Shakti Submersible Plug and Play Pump starts from here  -->

          <h3 class="tab_drawer_heading" rel="tab4">
            Shakti Submersible Plug and Play Pump
          </h3>
          <div id="tab4" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="prodsligall">
                  <!-- <img src="/images/product-detailsgall.png" alt=""> -->
                  <section id="default" class="padding-top0">
                    <div class="row">
                      <div class="large-5 column">
                        <div class="xzoom-container">
                          <img
                            class="xzoom"
                            id="xzoom-default"
                            src="/images/product-big.png"
                            xoriginal="/images/product-big.png"
                          />
                          <div class="xzoom-thumbs">
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                          </div>
                        </div>
                      </div>
                      <div class="large-7 column"></div>
                    </div>
                  </section>
                </div>
                <div class="amzbtn">
                  <a href="#" class="readmore">Enquire Now</a>
                  <a href="#" class="">
                    <img src="/images/amzbtn.png" alt="" />
                  </a>
                </div>
                <div class="chkpmkusumsec">
                  <img src="/images/govt.png" alt="" />
                  <h2><span>Applicable In </span> PM Kusum</h2>
                  <a href="#" class="readmore">Check Your Status</a>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="prodescription">
                  <div class="">
                    <div class="prodesc">
                      <label>Description</label>
                      <div class="prodesdtls">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Performance</label>
                      <div class="performdtls">
                        <p>
                          <span>Head. H</span> <strong>22 m to 28 m</strong>
                        </p>
                        <p>
                          <span>Discharge</span>
                          <strong>30 LPM to 102 LPM</strong>
                        </p>
                        <p><span>Flow. Q</span> <strong>90 LPM</strong></p>
                        <p><span>Rating</span> <strong>HP</strong></p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Features</label>
                      <div class="featudtls">
                        <ul>
                          <li>High Operating Efficiency</li>
                          <li>Highly Durable & Hygienic</li>
                          <li>Good Resistance To Stand</li>
                          <li>Good Resistance To Stand</li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Application</label>
                      <div class="featudtls">
                        <ul>
                          <li>Rural And Urban Draining Water Installations</li>
                          <li>Water Supply To High Rise Buildings</li>
                          <li>Water Circulating System For Lawns & Gardens</li>
                          <li>
                            Agricultural Lift Sprinkler And Drip Irrigation
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Delivery</label>
                      <div class="deliverdtls">
                        <p>
                          <strong>25 MM</strong> <strong>50 MM</strong>
                          <strong>65 MM</strong> <strong>75 MM</strong>
                          <strong>100 MM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- #tab8 -->
          <!-- <h3 class="tab_drawer_heading" rel="tab5">
            Shakti Submersible Plug and Play Pump
          </h3>
          <div id="tab5" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="prodsligall">
                  <!- <img src="/images/product-detailsgall.png" alt=""> ->
                  <!- default start ->
                  <section id="default" class="padding-top0">
                    <div class="row">
                      <div class="large-5 column">
                        <div class="xzoom-container">
                          <img
                            class="xzoom"
                            id="xzoom-default"
                            src="/images/product-big.png"
                            xoriginal="/images/product-big.png"
                          />
                          <div class="xzoom-thumbs">
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                            <a href="/images/product-big.png"
                              ><img
                                class="xzoom-gallery"
                                width="80"
                                src="/images/product-big.png"
                                xpreview="/images/product-big.png"
                                title="The description goes here"
                            /></a>
                          </div>
                        </div>
                      </div>
                      <div class="large-7 column"></div>
                    </div>
                  </section>
                </div>
                <div class="amzbtn">
                  <a href="#" class="readmore">Enquire Now</a>
                  <a href="#" class="">
                    <img src="/images/amzbtn.png" alt="" />
                  </a>
                </div>
                <div class="chkpmkusumsec">
                  <img src="/images/govt.png" alt="" />
                  <h2><span>Applicable In </span> PM Kusum</h2>
                  <a href="#" class="readmore">Check Your Status</a>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="prodescription">
                  <div class="">
                    <div class="prodesc">
                      <label>Description</label>
                      <div class="prodesdtls">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Mauris eu commodo dui. Maecenas id facilisis
                          mauris, at sagittis nisl. Phasellus porta imperdiet
                          nunc eget vehicula. Donec lobortis mi eget enim
                          viverra euismod.
                        </p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Performance</label>
                      <div class="performdtls">
                        <p>
                          <span>Head. H</span> <strong>22 m to 28 m</strong>
                        </p>
                        <p>
                          <span>Discharge</span>
                          <strong>30 LPM to 102 LPM</strong>
                        </p>
                        <p><span>Flow. Q</span> <strong>90 LPM</strong></p>
                        <p><span>Rating</span> <strong>HP</strong></p>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Features</label>
                      <div class="featudtls">
                        <ul>
                          <li>High Operating Efficiency</li>
                          <li>Highly Durable & Hygienic</li>
                          <li>Good Resistance To Stand</li>
                          <li>Good Resistance To Stand</li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Application</label>
                      <div class="featudtls">
                        <ul>
                          <li>Rural And Urban Draining Water Installations</li>
                          <li>Water Supply To High Rise Buildings</li>
                          <li>Water Circulating System For Lawns & Gardens</li>
                          <li>
                            Agricultural Lift Sprinkler And Drip Irrigation
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="prodesc">
                      <label>Delivery</label>
                      <div class="deliverdtls">
                        <p>
                          <strong>25 MM</strong> <strong>50 MM</strong>
                          <strong>65 MM</strong> <strong>75 MM</strong>
                          <strong>100 MM</strong>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <section class="makeussuccess relatedproducts interpro">
      <div class="container">
        <h2>
          <span>Shakti pumps</span>
          Related Products
        </h2>
        <div class="suuslider">
          <div class="sucpan">
            <img src="/images/product1.png" alt="" />
            <h3>Submersible Pumps</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product2.png" alt="" />
            <h3>Solar Pumps</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product3.png" alt="" />
            <h3>Vertical Multistage Cen..</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product4.png" alt="" />
            <h3>Shallow Well & Slow Spe..</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
        </div>
        <div class="productsbtns" style="margin-top: 30px">
          <!-- <a href="#">Check All Products</a> -->
        </div>
      </div>
    </section>
    <!-- <section class="testimoni">
      <div class="container">
        <h2><span>Employee Testimonials</span> Imagine With Us</h2>
        <div class="testimonialslide">
          <div class="testipan">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="domtestpropic">
                  <img src="/images/dom-testipic.png" alt="" />
                  <img
                    src="/images/play-icon.png"
                    alt=""
                    class="testprovidbtn"
                  />
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <p>
                  Hearty wishes to you all in Shakti Pumps. We are a small group
                  of brothers, who have installed 3nos 5HP Pumps to the bore
                  well. Thanks to the timely help and action. Our 9acres paddy
                  crop is saved.
                </p>
                <p>
                  At the same time having installed the pumps, I bought 2000
                  Equity shares of Shakti Pumps @ 172. Oh! My phenomenal jump
                  and good annual result. God Bless the entire team of
                  performance and give you more energy in bringing the solar
                  energy into noble use.
                </p>
                <h3>
                  Mr. Krishna Murti, Bangalore <span>CEO, Company Name</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <%- include('../common/footer.ejs')%>
  </body>
</html>
