<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
   <!-- patent modal start-->
   <div class="modal fade" id="changecountrypop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changecountrypop" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <img src="/images/pop-close.png" alt="">
          </button>
        <div class="modal-body">
         <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="changecountryglobe"><img src="/images/countryglobe.png" alt=""></div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="country-changeinfopop">
              <h2>Change Country</h2>
              <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Fusce sed dictum dol or. Duis sollicitudin.  ut tortor sed fauci bus.  Donec fermentum ipsum sed tortor pellentesque tempor.</p>
              <!-- <select>
                <option>Select Country</option>
              </select> -->
              <dl id="country-select" class="dropdown">
                <dt><a href="javascript:void(0);"><span><span style="background-position:0px -1694px"></span><span>India</span><span>+91</span></span></a></dt>
                <dd>
                  <ul style="display: none;">
                    <li><a cunt_code="+91" href="javascript:void(0);"><span style="background-position:0px -1694px"></span><span>India</span></a></li>
                    <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -44px"></span><span>United States</span></a></li>
                    <li><a cunt_code="+93" href="javascript:void(0);"><span style="background-position:0px -2311px"></span><span>Afghanistan</span></a></li>
                    <li><a cunt_code="+355" href="javascript:void(0);"><span style="background-position:0px -1034px"></span><span>Albania</span></a></li>
                    <li><a cunt_code="+213" href="javascript:void(0);"><span style="background-position:0px -528px"></span><span>Algeria</span></a></li>
                    <li><a cunt_code="+1684" href="javascript:void(0);"><span style="background-position:0px -1562px"></span><span>American Samoa</span></a></li>
                    <li><a cunt_code="+376" href="javascript:void(0);"><span style="background-position:0px -594px"></span><span>Andorra</span></a></li>
                    <li><a cunt_code="+244" href="javascript:void(0);"><span style="background-position:0px -1947px"></span><span>Angola</span></a></li>
                    <li><a cunt_code="+1264" href="javascript:void(0);"><span style="background-position:0px -1980px"></span><span>Anguilla</span></a></li>
                    <li><a cunt_code="+1268" href="javascript:void(0);"><span style="background-position:0px -869px"></span><span>Antigua and Barbuda</span></a></li>
                    <li><a cunt_code="+54" href="javascript:void(0);"><span style="background-position:0px -2377px"></span><span>Argentina</span></a></li>
                    <li><a cunt_code="+374" href="javascript:void(0);"><span style="background-position:0px -176px"></span><span>Armenia</span></a></li>
                    <li><a cunt_code="+297" href="javascript:void(0);"><span style="background-position:0px -792px"></span><span>Aruba</span></a></li>
                    <li><a cunt_code="+247" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>Ascension Island</span></a></li>
                    <li><a cunt_code="+61" href="javascript:void(0);"><span style="background-position:0px -1716px"></span><span>Australia</span></a></li>
                    <li><a cunt_code="+43" href="javascript:void(0);"><span style="background-position:0px -1331px"></span><span>Austria</span></a></li>
                    <!-- <li><a cunt_code="+994" href="javascript:void(0);"><span style="background-position:0px -1243px"></span><span>Azerbaijan</span><span>+994</span></a></li>
                    <li><a cunt_code="+1242" href="javascript:void(0);"><span style="background-position:0px -363px"></span><span>Bahamas</span><span>+1242</span></a></li>
                    <li><a cunt_code="+973" href="javascript:void(0);"><span style="background-position:0px -1496px"></span><span>Bahrain</span><span>+973</span></a></li>
                    <li><a cunt_code="+880" href="javascript:void(0);"><span style="background-position:0px -1771px"></span><span>Bangladesh</span><span>+880</span></a></li>
                    <li><a cunt_code="+1246" href="javascript:void(0);"><span style="background-position:0px -1573px"></span><span>Barbados</span><span>+1246</span></a></li>
                    <li><a cunt_code="+375" href="javascript:void(0);"><span style="background-position:0px -1100px"></span><span>Belarus</span><span>+375</span></a></li>
                    <li><a cunt_code="+32" href="javascript:void(0);"><span style="background-position:0px 0px"></span><span>Belgium</span><span>+32</span></a></li>
                    <li><a cunt_code="+501" href="javascript:void(0);"><span style="background-position:0px -484px"></span><span>Belize</span><span>+501</span></a></li>
                    <li><a cunt_code="+229" href="javascript:void(0);"><span style="background-position:0px -1298px"></span><span>Benin</span><span>+229</span></a></li>
                    <li><a cunt_code="+1441" href="javascript:void(0);"><span style="background-position:0px -1914px"></span><span>Bermuda</span><span>+1441</span></a></li>
                    <li><a cunt_code="+975" href="javascript:void(0);"><span style="background-position:0px -1848px"></span><span>Bhutan</span><span>+975</span></a></li>
                    <li><a cunt_code="+591" href="javascript:void(0);"><span style="background-position:0px -1650px"></span><span>Bolivia</span><span>+591</span></a></li>
                    <li><a cunt_code="+599" href="javascript:void(0);"><span style="background-position:0px -2719px"></span><span>Bonaire, Sint Eustatius</span><span>+599</span></a></li>
                    <li><a cunt_code="+387" href="javascript:void(0);"><span style="background-position:0px -1584px"></span><span>Bosnia and Herzegovina</span><span>+387</span></a></li>
                    <li><a cunt_code="+267" href="javascript:void(0);"><span style="background-position:0px -2707px"></span><span>Botswana</span><span>+267</span></a></li>
                    <li><a cunt_code="+55" href="javascript:void(0);"><span style="background-position:0px -770px"></span><span>Brazil</span><span>+55</span></a></li>
                    <li><a cunt_code="+673" href="javascript:void(0);"><span style="background-position:0px -1683px"></span><span>Brunei</span><span>+673</span></a></li>
                    <li><a cunt_code="+359" href="javascript:void(0);"><span style="background-position:0px -2586px"></span><span>Bulgaria</span><span>+359</span></a></li>
                    <li><a cunt_code="+226" href="javascript:void(0);"><span style="background-position:0px -726px"></span><span>Burkina Faso</span><span>+226</span></a></li>
                    <li><a cunt_code="+257" href="javascript:void(0);"><span style="background-position:0px -1892px"></span><span>Burundi</span><span>+257</span></a></li>
                    <li><a cunt_code="+855" href="javascript:void(0);"><span style="background-position:0px -242px"></span><span>Cambodia</span><span>+855</span></a></li>
                    <li><a cunt_code="+237" href="javascript:void(0);"><span style="background-position:0px -2057px"></span><span>Cameroon</span><span>+237</span></a></li>
                    <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -1375px"></span><span>Canada</span><span>+1</span></a></li>
                    <li><a cunt_code="+238" href="javascript:void(0);"><span style="background-position:0px -2652px"></span><span>Cape Verde</span><span>+238</span></a></li>
                    <li><a cunt_code="+1345" href="javascript:void(0);"><span style="background-position:0px -308px"></span><span>Cayman Islands</span><span>+1345</span></a></li>
                    <li><a cunt_code="+236" href="javascript:void(0);"><span style="background-position:0px -1837px"></span><span>Central African Republic</span><span>+236</span></a></li>
                    <li><a cunt_code="+235" href="javascript:void(0);"><span style="background-position:0px -814px"></span><span>Chad</span><span>+235</span></a></li>
                    <li><a cunt_code="+56" href="javascript:void(0);"><span style="background-position:0px -1342px"></span><span>Chile</span><span>+56</span></a></li>
                    <li><a cunt_code="+86" href="javascript:void(0);"><span style="background-position:0px -825px"></span><span>China</span><span>+86</span></a></li>
                    <li><a cunt_code="+57" href="javascript:void(0);"><span style="background-position:0px -330px"></span><span>Colombia</span><span>+57</span></a></li>
                    <li><a cunt_code="+269" href="javascript:void(0);"><span style="background-position:0px -1430px"></span><span>Comoros and Mayotte</span><span>+269</span></a></li>
                    <li><a cunt_code="+242" href="javascript:void(0);"><span style="background-position:0px -1793px"></span><span>Congo</span><span>+242</span></a></li>
                    <li><a cunt_code="+243" href="javascript:void(0);"><span style="background-position:0px -1518px"></span><span>Congo Dem Rep</span><span>+243</span></a></li>
                    <li><a cunt_code="+682" href="javascript:void(0);"><span style="background-position:0px -2267px"></span><span>Cook Islands</span><span>+682</span></a></li>
                    <li><a cunt_code="+506" href="javascript:void(0);"><span style="background-position:0px -2090px"></span><span>Costa Rica</span><span>+506</span></a></li>
                    <li><a cunt_code="+225" href="javascript:void(0);"><span style="background-position:0px -1661px"></span><span>Cote d'Ivoire</span><span>+225</span></a></li>
                    <li><a cunt_code="+385" href="javascript:void(0);"><span style="background-position:0px -902px"></span><span>Croatia</span><span>+385</span></a></li>
                    <li><a cunt_code="+53" href="javascript:void(0);"><span style="background-position:0px -748px"></span><span>Cuba</span><span>+53</span></a></li>
                    <li><a cunt_code="+599" href="javascript:void(0);"><span style="background-position:0px -2729px"></span><span>Curaçao</span><span>+599</span></a></li>
                    <li><a cunt_code="+357" href="javascript:void(0);"><span style="background-position:0px -561px"></span><span>Cyprus</span><span>+357</span></a></li>
                    <li><a cunt_code="+420" href="javascript:void(0);"><span style="background-position:0px -2256px"></span><span>Czech Republic</span><span>+420</span></a></li>
                    <li><a cunt_code="+45" href="javascript:void(0);"><span style="background-position:0px -1386px"></span><span>Denmark</span><span>+45</span></a></li>
                    <li><a cunt_code="+246" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>Diego Garcia</span><span>+246</span></a></li>
                    <li><a cunt_code="+253" href="javascript:void(0);"><span style="background-position:0px -2101px"></span><span>Djibouti</span><span>+253</span></a></li>
                    <li><a cunt_code="+1767" href="javascript:void(0);"><span style="background-position:0px -2432px"></span><span>Dominica</span><span>+1767</span></a></li>
                    <li><a cunt_code="+1809" href="javascript:void(0);"><span style="background-position:0px -1529px"></span><span>Dominican Republic</span><span>+1809</span></a></li>
                    <li><a cunt_code="+593" href="javascript:void(0);"><span style="background-position:0px -1188px"></span><span>Ecuador</span><span>+593</span></a></li>
                    <li><a cunt_code="+20" href="javascript:void(0);"><span style="background-position:0px -2201px"></span><span>Egypt</span><span>+20</span></a></li>
                    <li><a cunt_code="+503" href="javascript:void(0);"><span style="background-position:0px -1639px"></span><span>El Salvador</span><span>+503</span></a></li>
                    <li><a cunt_code="+240" href="javascript:void(0);"><span style="background-position:0px -1507px"></span><span>Equatorial Guinea</span><span>+240</span></a></li>
                    <li><a cunt_code="+291" href="javascript:void(0);"><span style="background-position:0px -715px"></span><span>Eritrea</span><span>+291</span></a></li>
                    <li><a cunt_code="+372" href="javascript:void(0);"><span style="background-position:0px -2410px"></span><span>Estonia</span><span>+372</span></a></li>
                    <li><a cunt_code="+251" href="javascript:void(0);"><span style="background-position:0px -2443px"></span><span>Ethiopia</span><span>+251</span></a></li>
                    <li><a cunt_code="+500" href="javascript:void(0);"><span style="background-position:0px -2762px"></span><span>Falkland Islands</span><span>+500</span></a></li>
                    <li><a cunt_code="+298" href="javascript:void(0);"><span style="background-position:0px -1111px"></span><span>Faroe Islands</span><span>+298</span></a></li>
                    <li><a cunt_code="+679" href="javascript:void(0);"><span style="background-position:0px -1859px"></span><span>Fiji</span><span>+679</span></a></li>
                    <li><a cunt_code="+358" href="javascript:void(0);"><span style="background-position:0px -1903px"></span><span>Finland</span><span>+358</span></a></li>
                    <li><a cunt_code="+33" href="javascript:void(0);"><span style="background-position:0px -1012px"></span><span>France</span><span>+33</span></a></li>
                    <li><a cunt_code="+594" href="javascript:void(0);"><span style="background-position:0px -2234px"></span><span>French Guiana</span><span>+594</span></a></li>
                    <li><a cunt_code="+689" href="javascript:void(0);"><span style="background-position:0px -1705px"></span><span>French Polynesia</span><span>+689</span></a></li>
                    <li><a cunt_code="+241" href="javascript:void(0);"><span style="background-position:0px -880px"></span><span>Gabon</span><span>+241</span></a></li>
                    <li><a cunt_code="+220" href="javascript:void(0);"><span style="background-position:0px -627px"></span><span>Gambia</span><span>+220</span></a></li>
                    <li><a cunt_code="+995" href="javascript:void(0);"><span style="background-position:0px -858px"></span><span>Georgia</span><span>+995</span></a></li>
                    <li><a cunt_code="+49" href="javascript:void(0);"><span style="background-position:0px -2509px"></span><span>Germany</span><span>+49</span></a></li>
                    <li><a cunt_code="+233" href="javascript:void(0);"><span style="background-position:0px -2112px"></span><span>Ghana</span><span>+233</span></a></li>
                    <li><a cunt_code="+350" href="javascript:void(0);"><span style="background-position:0px -275px"></span><span>Gibraltar</span><span>+350</span></a></li>
                    <li><a cunt_code="+30" href="javascript:void(0);"><span style="background-position:0px -165px"></span><span>Greece</span><span>+30</span></a></li>
                    <li><a cunt_code="+299" href="javascript:void(0);"><span style="background-position:0px -1760px"></span><span>Greenland</span><span>+299</span></a></li>
                    <li><a cunt_code="+1473" href="javascript:void(0);"><span style="background-position:0px -2399px"></span><span>Grenada</span><span>+1473</span></a></li>
                    <li><a cunt_code="+590" href="javascript:void(0);"><span style="background-position:0px -407px"></span><span>Guadeloupe</span><span>+590</span></a></li>
                    <li><a cunt_code="+1671" href="javascript:void(0);"><span style="background-position:0px -2366px"></span><span>Guam</span><span>+1671</span></a></li>
                    <li><a cunt_code="+502" href="javascript:void(0);"><span style="background-position:0px -935px"></span><span>Guatemala</span><span>+502</span></a></li>
                    <li><a cunt_code="+224" href="javascript:void(0);"><span style="background-position:0px -2575px"></span><span>Guinea</span><span>+224</span></a></li>
                    <li><a cunt_code="+245" href="javascript:void(0);"><span style="background-position:0px -1925px"></span><span>Guinea Bissau</span><span>+245</span></a></li>
                    <li><a cunt_code="+592" href="javascript:void(0);"><span style="background-position:0px -803px"></span><span>Guyana</span><span>+592</span></a></li>
                    <li><a cunt_code="+509" href="javascript:void(0);"><span style="background-position:0px -319px"></span><span>Haiti</span><span>+509</span></a></li>
                    <li><a cunt_code="+504" href="javascript:void(0);"><span style="background-position:0px -2156px"></span><span>Honduras</span><span>+504</span></a></li>
                    <li><a cunt_code="+852" href="javascript:void(0);"><span style="background-position:0px -2696px"></span><span>Hong Kong</span><span>+852</span></a></li>
                    <li><a cunt_code="+36" href="javascript:void(0);"><span style="background-position:0px -682px"></span><span>Hungary</span><span>+36</span></a></li>
                    <li><a cunt_code="+354" href="javascript:void(0);"><span style="background-position:0px -1991px"></span><span>Iceland</span><span>+354</span></a></li>
                    <li><a cunt_code="+91" href="javascript:void(0);"><span style="background-position:0px -1694px"></span><span>India</span><span>+91</span></a></li>
                    <li><a cunt_code="+62" href="javascript:void(0);"><span style="background-position:0px -1958px"></span><span>Indonesia</span><span>+62</span></a></li>
                    <li><a cunt_code="+98" href="javascript:void(0);"><span style="background-position:0px -2013px"></span><span>Iran</span><span>+98</span></a></li>
                    <li><a cunt_code="+964" href="javascript:void(0);"><span style="background-position:0px -649px"></span><span>Iraq</span><span>+964</span></a></li>
                    <li><a cunt_code="+353" href="javascript:void(0);"><span style="background-position:0px -1969px"></span><span>Ireland</span><span>+353</span></a></li>
                    <li><a cunt_code="+972" href="javascript:void(0);"><span style="background-position:0px -341px"></span><span>Israel</span><span>+972</span></a></li>
                    <li><a cunt_code="+39" href="javascript:void(0);"><span style="background-position:0px -143px"></span><span>Italy</span><span>+39</span></a></li>
                    <li><a cunt_code="+1876" href="javascript:void(0);"><span style="background-position:0px -1727px"></span><span>Jamaica</span><span>+1876</span></a></li>
                    <li><a cunt_code="+81" href="javascript:void(0);"><span style="background-position:0px -429px"></span><span>Japan</span><span>+81</span></a></li>
                    <li><a cunt_code="+962" href="javascript:void(0);"><span style="background-position:0px -1463px"></span><span>Jordan</span><span>+962</span></a></li>
                    <li><a cunt_code="+7" href="javascript:void(0);"><span style="background-position:0px -1210px"></span><span>Kazakhstan</span><span>+7</span></a></li>
                    <li><a cunt_code="+254" href="javascript:void(0);"><span style="background-position:0px -2630px"></span><span>Kenya</span><span>+254</span></a></li>
                    <li><a cunt_code="+686" href="javascript:void(0);"><span style="background-position:0px -374px"></span><span>Kiribati</span><span>+686</span></a></li>
                    <li><a cunt_code="+850" href="javascript:void(0);"><span style="background-position:0px -1804px"></span><span>Korea, North</span><span>+850</span></a></li>
                    <li><a cunt_code="+82" href="javascript:void(0);"><span style="background-position:0px -2245px"></span><span>Korea, South</span><span>+82</span></a></li>
                    <li><a cunt_code="+965" href="javascript:void(0);"><span style="background-position:0px -2487px"></span><span>Kuwait</span><span>+965</span></a></li>
                    <li><a cunt_code="+996" href="javascript:void(0);"><span style="background-position:0px -1617px"></span><span>Kyrgyzstan</span><span>+996</span></a></li>
                    <li><a cunt_code="+856" href="javascript:void(0);"><span style="background-position:0px -451px"></span><span>Laos</span><span>+856</span></a></li>
                    <li><a cunt_code="+371" href="javascript:void(0);"><span style="background-position:0px -1936px"></span><span>Latvia</span><span>+371</span></a></li>
                    <li><a cunt_code="+961" href="javascript:void(0);"><span style="background-position:0px -1254px"></span><span>Lebanon</span><span>+961</span></a></li>
                    <li><a cunt_code="+266" href="javascript:void(0);"><span style="background-position:0px -2190px"></span><span>Lesotho</span><span>+266</span></a></li>
                    <li><a cunt_code="+231" href="javascript:void(0);"><span style="background-position:0px -2068px"></span><span>Liberia</span><span>+231</span></a></li>
                    <li><a cunt_code="+218" href="javascript:void(0);"><span style="background-position:0px -132px"></span><span>Libya</span><span>+218</span></a></li>
                    <li><a cunt_code="+423" href="javascript:void(0);"><span style="background-position:0px -979px"></span><span>Liechtenstein</span><span>+423</span></a></li>
                    <li><a cunt_code="+370" href="javascript:void(0);"><span style="background-position:0px -1122px"></span><span>Lithuania</span><span>+370</span></a></li>
                    <li><a cunt_code="+352" href="javascript:void(0);"><span style="background-position:0px -1474px"></span><span>Luxembourg</span><span>+352</span></a></li>
                    <li><a cunt_code="+853" href="javascript:void(0);"><span style="background-position:0px -2597px"></span><span>Macao</span><span>+853</span></a></li>
                    <li><a cunt_code="+389" href="javascript:void(0);"><span style="background-position:0px -1353px"></span><span>Macedonia</span><span>+389</span></a></li>
                    <li><a cunt_code="+261" href="javascript:void(0);"><span style="background-position:0px -1287px"></span><span>Madagascar</span><span>+261</span></a></li>
                    <li><a cunt_code="+265" href="javascript:void(0);"><span style="background-position:0px -2145px"></span><span>Malawi</span><span>+265</span></a></li>
                    <li><a cunt_code="+60" href="javascript:void(0);"><span style="background-position:0px -1870px"></span><span>Malaysia</span><span>+60</span></a></li>
                    <li><a cunt_code="+960" href="javascript:void(0);"><span style="background-position:0px -616px"></span><span>Maldives</span><span>+960</span></a></li>
                    <li><a cunt_code="+223" href="javascript:void(0);"><span style="background-position:0px -2520px"></span><span>Mali</span><span>+223</span></a></li>
                    <li><a cunt_code="+356" href="javascript:void(0);"><span style="background-position:0px -1551px"></span><span>Malta</span><span>+356</span></a></li>
                    <li><a cunt_code="+692" href="javascript:void(0);"><span style="background-position:0px -1144px"></span><span>Marshall Islands</span><span>+692</span></a></li>
                    <li><a cunt_code="+596" href="javascript:void(0);"><span style="background-position:0px -198px"></span><span>Martinique</span><span>+596</span></a></li>
                    <li><a cunt_code="+222" href="javascript:void(0);"><span style="background-position:0px -253px"></span><span>Mauritania</span><span>+222</span></a></li>
                    <li><a cunt_code="+230" href="javascript:void(0);"><span style="background-position:0px -2179px"></span><span>Mauritius</span><span>+230</span></a></li>
                    <li><a cunt_code="+52" href="javascript:void(0);"><span style="background-position:0px -2024px"></span><span>Mexico</span><span>+52</span></a></li>
                    <li><a cunt_code="+691" href="javascript:void(0);"><span style="background-position:0px -1738px"></span><span>Micronesia</span><span>+691</span></a></li>
                    <li><a cunt_code="+373" href="javascript:void(0);"><span style="background-position:0px -2685px"></span><span>Moldova</span><span>+373</span></a></li>
                    <li><a cunt_code="+377" href="javascript:void(0);"><span style="background-position:0px -913px"></span><span>Monaco</span><span>+377</span></a></li>
                    <li><a cunt_code="+976" href="javascript:void(0);"><span style="background-position:0px -2553px"></span><span>Mongolia</span><span>+976</span></a></li>
                    <li><a cunt_code="+382" href="javascript:void(0);"><span style="background-position:0px -2167px"></span><span>Montenegro</span><span>+382</span></a></li>
                    <li><a cunt_code="+1664" href="javascript:void(0);"><span style="background-position:0px -583px"></span><span>Montserrat</span><span>+1664</span></a></li>
                    <li><a cunt_code="+212" href="javascript:void(0);"><span style="background-position:0px -2333px"></span><span>Morocco</span><span>+212</span></a></li>
                    <li><a cunt_code="+258" href="javascript:void(0);"><span style="background-position:0px -638px"></span><span>Mozambique</span><span>+258</span></a></li>
                    <li><a cunt_code="+95" href="javascript:void(0);"><span style="background-position:0px -11px"></span><span>Myanmar</span><span>+95</span></a></li>
                    <li><a cunt_code="+264" href="javascript:void(0);"><span style="background-position:0px -1881px"></span><span>Namibia</span><span>+264</span></a></li>
                    <li><a cunt_code="+674" href="javascript:void(0);"><span style="background-position:0px -1749px"></span><span>Nauru</span><span>+674</span></a></li>
                    <li><a cunt_code="+977" href="javascript:void(0);"><span style="background-position:0px -110px"></span><span>Nepal</span><span>+977</span></a></li>
                    <li><a cunt_code="+31" href="javascript:void(0);"><span style="background-position:0px -1441px"></span><span>Netherlands</span><span>+31</span></a></li>
                    <li><a cunt_code="+687" href="javascript:void(0);"><span style="background-position:0px -1276px"></span><span>New Caledonia</span><span>+687</span></a></li>
                    <li><a cunt_code="+64" href="javascript:void(0);"><span style="background-position:0px -1540px"></span><span>New Zealand</span><span>+64</span></a></li>
                    <li><a cunt_code="+505" href="javascript:void(0);"><span style="background-position:0px -154px"></span><span>Nicaragua</span><span>+505</span></a></li>
                    <li><a cunt_code="+227" href="javascript:void(0);"><span style="background-position:0px -550px"></span><span>Niger</span><span>+227</span></a></li>
                    <li><a cunt_code="+234" href="javascript:void(0);"><span style="background-position:0px -2476px"></span><span>Nigeria</span><span>+234</span></a></li>
                    <li><a cunt_code="+683" href="javascript:void(0);"><span style="background-position:0px -2079px"></span><span>Niue</span><span>+683</span></a></li>
                    <li><a cunt_code="+6723" href="javascript:void(0);"><span style="background-position:0px -209px"></span><span>Norfolk Island</span><span>+6723</span></a></li>
                    <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -704px"></span><span>Northern Mariana Islands</span><span>+1</span></a></li>
                    <li><a cunt_code="+47" href="javascript:void(0);"><span style="background-position:0px -836px"></span><span>Norway</span><span>+47</span></a></li>
                    <li><a cunt_code="+968" href="javascript:void(0);"><span style="background-position:0px -2454px"></span><span>Oman</span><span>+968</span></a></li>
                    <li><a cunt_code="+92" href="javascript:void(0);"><span style="background-position:0px -2035px"></span><span>Pakistan</span><span>+92</span></a></li>
                    <li><a cunt_code="+680" href="javascript:void(0);"><span style="background-position:0px -231px"></span><span>Palau</span><span>+680</span></a></li>
                    <li><a cunt_code="+970" href="javascript:void(0);"><span style="background-position:0px -1199px"></span><span>Palestinian Territories</span><span>+970</span></a></li>
                    <li><a cunt_code="+507" href="javascript:void(0);"><span style="background-position:0px -847px"></span><span>Panama</span><span>+507</span></a></li>
                    <li><a cunt_code="+63" href="javascript:void(0);"><span style="background-position:0px -1485px"></span><span>Papua New Guinea</span><span>+63</span></a></li>
                    <li><a cunt_code="+595" href="javascript:void(0);"><span style="background-position:0px -2344px"></span><span>Paraguay</span><span>+595</span></a></li>
                    <li><a cunt_code="+51" href="javascript:void(0);"><span style="background-position:0px -946px"></span><span>Peru</span><span>+51</span></a></li>
                    <li><a cunt_code="+63" href="javascript:void(0);"><span style="background-position:0px -1815px"></span><span>Philippines</span><span>+63</span></a></li>
                    <li><a cunt_code="+48" href="javascript:void(0);"><span style="background-position:0px -1177px"></span><span>Poland</span><span>+48</span></a></li>
                    <li><a cunt_code="+351" href="javascript:void(0);"><span style="background-position:0px -517px"></span><span>Portugal</span><span>+351</span></a></li>
                    <li><a cunt_code="+1787" href="javascript:void(0);"><span style="background-position:0px -473px"></span><span>Puerto Rico</span><span>+1787</span></a></li>
                    <li><a cunt_code="+974" href="javascript:void(0);"><span style="background-position:0px -462px"></span><span>Qatar</span><span>+974</span></a></li>
                    <li><a cunt_code="+262" href="javascript:void(0);"><span style="background-position:0px -264px"></span><span>Reunion</span><span>+262</span></a></li>
                    <li><a cunt_code="+40" href="javascript:void(0);"><span style="background-position:0px -671px"></span><span>Romania</span><span>+40</span></a></li>
                    <li><a cunt_code="+7" href="javascript:void(0);"><span style="background-position:0px -660px"></span><span>Russia</span><span>+7</span></a></li>
                    <li><a cunt_code="+250" href="javascript:void(0);"><span style="background-position:0px -2674px"></span><span>Rwanda</span><span>+250</span></a></li>
                    <li><a cunt_code="+599" href="javascript:void(0);"><span style="background-position:0px -2719px"></span><span>Saba</span><span>+599</span></a></li>
                    <li><a cunt_code="+590" href="javascript:void(0);"><span style="background-position:0px -1012px"></span><span>Saint Barthélemy</span><span>+590</span></a></li>
                    <li><a cunt_code="+290" href="javascript:void(0);"><span style="background-position:0px -495px"></span><span>Saint Helena</span><span>+290</span></a></li>
                    <li><a cunt_code="+1869" href="javascript:void(0);"><span style="background-position:0px -99px"></span><span>Saint Kitts and Nevis</span><span>+1869</span></a></li>
                    <li><a cunt_code="+1758" href="javascript:void(0);"><span style="background-position:0px -1397px"></span><span>Saint Lucia</span><span>+1758</span></a></li>
                    <li><a cunt_code="+590" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>Saint Martin</span><span>+590</span></a></li>
                    <li><a cunt_code="+508" href="javascript:void(0);"><span style="background-position:0px -1078px"></span><span>Saint Pierre and Miquelon</span><span>+508</span></a></li>
                    <li><a cunt_code="+1784" href="javascript:void(0);"><span style="background-position:0px -2619px"></span><span>Saint Vincent Grenadines</span><span>+1784</span></a></li>
                    <li><a cunt_code="+685" href="javascript:void(0);"><span style="background-position:0px -2300px"></span><span>Samoa</span><span>+685</span></a></li>
                    <li><a cunt_code="+378" href="javascript:void(0);"><span style="background-position:0px -2123px"></span><span>San Marino</span><span>+378</span></a></li>
                    <li><a cunt_code="+239" href="javascript:void(0);"><span style="background-position:0px -2388px"></span><span>Sao Tome and Principe</span><span>+239</span></a></li>
                    <li><a cunt_code="+966" href="javascript:void(0);"><span style="background-position:0px -33px"></span><span>Saudi Arabia</span><span>+966</span></a></li>
                    <li><a cunt_code="+221" href="javascript:void(0);"><span style="background-position:0px -2134px"></span><span>Senegal</span><span>+221</span></a></li>
                    <li><a cunt_code="+381" href="javascript:void(0);"><span style="background-position:0px -2465px"></span><span>Serbia</span><span>+381</span></a></li>
                    <li><a cunt_code="+248" href="javascript:void(0);"><span style="background-position:0px -1045px"></span><span>Seychelles</span><span>+248</span></a></li>
                    <li><a cunt_code="+232" href="javascript:void(0);"><span style="background-position:0px -737px"></span><span>Sierra Leone</span><span>+232</span></a></li>
                    <li><a cunt_code="+65" href="javascript:void(0);"><span style="background-position:0px -22px"></span><span>Singapore</span><span>+65</span></a></li>
                    <li><a cunt_code="+1721" href="javascript:void(0);"><span style="background-position:0px -2773px"></span><span>Sint Maarten</span><span>+1721</span></a></li>
                    <li><a cunt_code="+421" href="javascript:void(0);"><span style="background-position:0px -2212px"></span><span>Slovakia</span><span>+421</span></a></li>
                    <li><a cunt_code="+386" href="javascript:void(0);"><span style="background-position:0px -1221px"></span><span>Slovenia</span><span>+386</span></a></li>
                    <li><a cunt_code="+677" href="javascript:void(0);"><span style="background-position:0px -1067px"></span><span>Solomon Islands</span><span>+677</span></a></li>
                    <li><a cunt_code="+252" href="javascript:void(0);"><span style="background-position:0px -1364px"></span><span>Somalia</span><span>+252</span></a></li>
                    <li><a cunt_code="+27" href="javascript:void(0);"><span style="background-position:0px -2355px"></span><span>South Africa</span><span>+27</span></a></li>
                    <li><a cunt_code="+211" href="javascript:void(0);"><span style="background-position:0px -2741px"></span><span>South Sudan</span><span>+211</span></a></li>
                    <li><a cunt_code="+34" href="javascript:void(0);"><span style="background-position:0px -1155px"></span><span>Spain</span><span>+34</span></a></li>
                    <li><a cunt_code="+94" href="javascript:void(0);"><span style="background-position:0px -2641px"></span><span>Sri Lanka</span><span>+94</span></a></li>
                    <li><a cunt_code="+249" href="javascript:void(0);"><span style="background-position:0px -352px"></span><span>Sudan</span><span>+249</span></a></li>
                    <li><a cunt_code="+597" href="javascript:void(0);"><span style="background-position:0px -2663px"></span><span>Suriname</span><span>+597</span></a></li>
                    <li><a cunt_code="+268" href="javascript:void(0);"><span style="background-position:0px -2278px"></span><span>Swaziland</span><span>+268</span></a></li>
                    <li><a cunt_code="+46" href="javascript:void(0);"><span style="background-position:0px -385px"></span><span>Sweden</span><span>+46</span></a></li>
                    <li><a cunt_code="+41" href="javascript:void(0);"><span style="background-position:0px -1320px"></span><span>Switzerland</span><span>+41</span></a></li>
                    <li><a cunt_code="+963" href="javascript:void(0);"><span style="background-position:0px -1826px"></span><span>Syria</span><span>+963</span></a></li>
                    <li><a cunt_code="+886" href="javascript:void(0);"><span style="background-position:0px -506px"></span><span>Taiwan</span><span>+886</span></a></li>
                    <li><a cunt_code="+992" href="javascript:void(0);"><span style="background-position:0px -187px"></span><span>Tajikistan</span><span>+992</span></a></li>
                    <li><a cunt_code="+255" href="javascript:void(0);"><span style="background-position:0px -2289px"></span><span>Tanzania</span><span>+255</span></a></li>
                    <li><a cunt_code="+66" href="javascript:void(0);"><span style="background-position:0px -957px"></span><span>Thailand</span><span>+66</span></a></li>
                    <li><a cunt_code="+670" href="javascript:void(0);"><span style="background-position:0px -2784px"></span><span>Timor-Leste</span><span>+670</span></a></li>
                    <li><a cunt_code="+228" href="javascript:void(0);"><span style="background-position:0px -605px"></span><span>Togo</span><span>+228</span></a></li>
                    <li><a cunt_code="+690" href="javascript:void(0);"><span style="background-position:0px -2751px"></span><span>Tokelau</span><span>+690</span></a></li>
                    <li><a cunt_code="+676" href="javascript:void(0);"><span style="background-position:0px -1089px"></span><span>Tonga</span><span>+676</span></a></li>
                    <li><a cunt_code="+1868" href="javascript:void(0);"><span style="background-position:0px -440px"></span><span>Trinidad and Tobago</span><span>+1868</span></a></li>
                    <li><a cunt_code="+216" href="javascript:void(0);"><span style="background-position:0px -539px"></span><span>Tunisia</span><span>+216</span></a></li>
                    <li><a cunt_code="+90" href="javascript:void(0);"><span style="background-position:0px -1606px"></span><span>Turkey</span><span>+90</span></a></li>
                    <li><a cunt_code="+993" href="javascript:void(0);"><span style="background-position:0px -2542px"></span><span>Turkmenistan</span><span>+993</span></a></li>
                    <li><a cunt_code="+1649" href="javascript:void(0);"><span style="background-position:0px -1309px"></span><span>Turks and Caicos</span><span>+1649</span></a></li>
                    <li><a cunt_code="+688" href="javascript:void(0);"><span style="background-position:0px -286px"></span><span>Tuvalu</span><span>+688</span></a></li>
                    <li><a cunt_code="+256" href="javascript:void(0);"><span style="background-position:0px -1166px"></span><span>Uganda</span><span>+256</span></a></li>
                    <li><a cunt_code="+380" href="javascript:void(0);"><span style="background-position:0px -2002px"></span><span>Ukraine</span><span>+380</span></a></li>
                    <li><a cunt_code="+971" href="javascript:void(0);"><span style="background-position:0px -2223px"></span><span>United Arab Emirates</span><span>+971</span></a></li>
                    <li><a cunt_code="+44" href="javascript:void(0);"><span style="background-position:0px -55px"></span><span>United Kingdom</span><span>+44</span></a></li>
                    <li><a cunt_code="+1" href="javascript:void(0);"><span style="background-position:0px -44px"></span><span>United States</span><span>+1</span></a></li>
                    <li><a cunt_code="+598" href="javascript:void(0);"><span style="background-position:0px -2608px"></span><span>Uruguay</span><span>+598</span></a></li>
                    <li><a cunt_code="+998" href="javascript:void(0);"><span style="background-position:0px -1001px"></span><span>Uzbekistan</span><span>+998</span></a></li>
                    <li><a cunt_code="+678" href="javascript:void(0);"><span style="background-position:0px -1265px"></span><span>Vanuatu</span><span>+678</span></a></li>
                    <li><a cunt_code="+379" href="javascript:void(0);"><span style="background-position:0px -2322px"></span><span>Vatican City</span><span>+379</span></a></li>
                    <li><a cunt_code="+58" href="javascript:void(0);"><span style="background-position:0px -1056px"></span><span>Venezuela</span><span>+58</span></a></li>
                    <li><a cunt_code="+84" href="javascript:void(0);"><span style="background-position:0px -968px"></span><span>Vietnam</span><span>+84</span></a></li>
                    <li><a cunt_code="+1284" href="javascript:void(0);"><span style="background-position:0px -1408px"></span><span>Virgin Islands, British</span><span>+1284</span></a></li>
                    <li><a cunt_code="+1340" href="javascript:void(0);"><span style="background-position:0px -1782px"></span><span>Virgin Islands, US</span><span>+1340</span></a></li>
                    <li><a cunt_code="+681" href="javascript:void(0);"><span style="background-position:0px -1012px"></span><span>Wallis and Futuna</span><span>+681</span></a></li>
                    <li><a cunt_code="+967" href="javascript:void(0);"><span style="background-position:0px -1672px"></span><span>Yemen</span><span>+967</span></a></li>
                    <li><a cunt_code="+260" href="javascript:void(0);"><span style="background-position:0px -1595px"></span><span>Zambia</span><span>+260</span></a></li>
                    <li><a cunt_code="+263" href="javascript:void(0);"><span style="background-position:0px -2046px"></span><span>Zimbabwe</span><span>+263</span></a></li> -->
                  </ul>
                </dd>
              </dl>
              <input type="submit" value="Change">
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
 <!-- patent modal end-->
  <body>
  
    <header class="fullheader">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            <h1>
              <a href="/"><img src="/images/Logo.png" alt=""></a>
            </h1>
          </div>
          <div class="col-lg-7 col-md-2 col-sm-12">
            <!-- <nav>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Services & Support</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contact Us</a></li>                
              </ul>
            </nav> -->
            <nav>
              <div class="navbar">
                <i class='bx bx-menu'></i>
                <!-- <div class="logo"><a href="#">Logo</a></div> -->
                <div class="nav-links">
                  <div class="sidebar-logo">
                    <!-- <span class="logo-name">Logo</span> -->
                    <i class='bx bx-x'></i>
                  </div>
                  <!-- <ul class="links">
                    <li><a href="#">HOME</a></li>
                    <li>
                      <a href="#">HTML & CSS</a>
                      <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                      <ul class="htmlCss-sub-menu sub-menu">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Login Forms</a></li>
                        <li><a href="#">Card Design</a></li>
                        <li class="more">
                          <span><a href="#">More</a>
                            <i class='bx bxs-chevron-right arrow more-arrow'></i>
                          </span>
                          <ul class="more-sub-menu sub-menu">
                            <li><a href="#">Neumorphism</a></li>
                            <li><a href="#">Pre-loader</a></li>
                            <li><a href="#">Glassmorphism</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">JAVASCRIPT</a>
                      <i class='bx bxs-chevron-down js-arrow arrow '></i>
                      <ul class="js-sub-menu sub-menu">
                        <li><a href="#">Dynamic Clock</a></li>
                        <li><a href="#">Form Validation</a></li>
                        <li><a href="#">Card Slider</a></li>
                        <li><a href="#">Complete Website</a></li>
                      </ul>
                    </li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                  </ul> -->
                  <ul class="links">
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Services & Support</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contact Us</a></li>                
                  </ul>
                </div>
                <div class="search-box">
                  <i class='bx bx-search'></i>
                  <div class="input-box">
                    <input type="text" placeholder="Search...">
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-12">
            <div class="top-right">
              <ul>
                <li><a href="#"><img src="/images/Whistleblower.png" alt=""></a></li>
                <li><a href="#"><img src="/images/Search.png" alt=""></a></li>
                <li><a href="#"><img src="/images/global.png" alt=""> EN <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                <li><a href="#">Login <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
<section class="about-banner domesticban">
  <div><img src="/images/international-banner.png" alt=""></div>
  <div class="container">
    <div class="domebantxt">
      <h2>International</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo.</p>
      <a href="#" class="welresultsbtn"><img src="/images/pdf-icon.png" alt=""> Download Corporate Broshure</a>
    </div>
  </div>
</section>
<section class="numbercount">
  <div class="container">
    <div class="numberinc">
      <!-- partial:index.partial.html -->
<div class="counter-container">
    <img src="/images/count-icon4.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="150"></div>+</div>
      <span>Country</span>
    </div>
    <div class="counter-container">
      <img src="/images/dealer.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="1200"></div>+</div>
      <span>Dealer</span>
    </div>
    <div class="counter-container">
      <img src="/images/count-icon3.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="4500"></div>+</div>
      <span>Pumps Sold</span>
    </div>
  
    <div class="counter-container">
      <img src="/images/count-icon5.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="4450"></div>+</div>
      <span>Total Customer</span>
    </div>
    <div class="counter-container">
      <img src="/images/count-icon2.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="1020"></div>+</div>
      <span>Happy Customer</span>
    </div>
<!-- partial -->
    </div>
  </div>
</section> 
<section class="whatlooking contribution">
  <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <h2> International <br>Market</h2>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet.</p>
          <p>Duis nec est a nisl lacinia blandit euismod nec tortor. Fusce iaculis purus eu iaculis blandit. Maecenas pretium, erat nec tempor gravida, enim diam consequat tellus, sed consequat arcu nulla in lectus. Curabitur blandit.</p>
        </div>
      </div>
  </div>
</section>
<section class="changecountry">
      <div class="container">
        <div class="row interpart">
          <div class="col-lg-6 col-md-6 col-md-12">
            <h5>You Are Belonging To The Country <strong>USA</strong></h5>
          </div>
          <div class="col-lg-6 col-md-6 col-md-12">
            <a href="#" class="readmore changecoun" data-bs-toggle="modal" data-bs-target="#changecountrypop">Change Your Country</a>
          </div>
        </div>
      </div>
</section>
<section class="makeussuccess relatedproducts interpro">
  <div class="container">
    <h2>
      <span>Shakti pumps</span>
      Related Products
    </h2>
    <div class="suuslider">
      <div class="sucpan">
        <img src="/images/product1.png" alt="">
        <h3>Submersible Pumps</h3>
        <h4>Pumps <span>50 Hz</span></h4>  
      </div>
      <div class="sucpan">
        <img src="/images/product2.png" alt="">
        <h3>Solar Pumps</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      <div class="sucpan">
        <img src="/images/product3.png" alt="">
        <h3>Vertical Multistage Cen..</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      <div class="sucpan">
        <img src="/images/product4.png" alt="">
        <h3>Shallow Well & Slow Spe..</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      
    </div>
    <div class="productsbtns">
      <a href="#">Check All Products</a>
      <a href="#" class="green">Pump Selector</a>
    </div>
  </div>
</section>
<section class="testimoni domtestim">
  <div class="container">
    <h2><span>Client’s</span> Testimonials</h2>
    <div class="testimonialslide">
      <div class="testipan">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="domtestpropic">
              <img src="/images/dom-testipic.png" alt="">
              <img src="/images/play-icon.png" alt="" class="testprovidbtn">
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <p>Hearty wishes to you all in Shakti Pumps. We are a small group of brothers, who have installed 3nos 5HP Pumps to the bore well. Thanks to the timely help and action. Our 9acres paddy crop is saved.</p>
            <p>At the same time having installed the pumps, I bought 2000 Equity shares of Shakti Pumps @ 172. Oh! My phenomenal jump and good annual result. God Bless the entire team of performance and give you more energy in bringing the solar energy into noble use.</p>
            <h3>Mr. Krishna Murti, Bangalore <span>CEO, Company Name</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="domesticmap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12">
        <h2>Dealer Locator</h2>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="mapselectopt">
          <select>
            <option>State</option>
          </select>
          <select>
            <option>City</option>
          </select>
          <input type="text" placeholder="Zip">
        </div>
      </div>
    </div>
    <div class="mapwrap">
      <div class="mapflex">
          <div class="globmap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24135244.25614283!2d26.439265026482595!3d42.402253968254925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1724242529127!5m2!1sen!2sin" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        <div class="maprgt">
          <h3>India <span>(25)</span></h3>
          <!-- partial:index.partial.html -->
          <div id="accordion" class="maprgtscroll">
            <h4 class="accordion-toggle active"><img src="/images/acc-location-icon.png" alt=""> Andhra Pradesh (02)</h4>
            <div class="accordion-content default">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Arunachal Pradesh (05)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Assam (10)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Bihar (02)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Gujarat (15)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Maharashtra (05)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Arunachal Pradesh (05)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            
          </div>
          <!-- partial -->
          <div>
  
          </div>
        </div>
      </div>
    </div>
 
  </div>
</section>
<section class="partershakti">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2>Do you want to be a Business<br>partner with Shakti Pump</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#" class="readmore">Apply Now</a>
      </div>
      </div>
    </div>
</section>
<footer class="full-footer desk">
  <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com</p>
          <p>Phone: +91-7292-410500<br>
            Fax: +91-7292-410645<br>
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 flogo"><img src="/images/flogo.png" alt=""></div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        </div>
    </div>
  </section>
</footer>
<footer class="full-footer mob">
  <div class="footmenu">Others Menu <i class="bx bx-menu"></i></div>
  <div class="fmenumob">
    <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com
            Phone: +91-7292-410500
            Fax: +91-7292-410645
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 flogo"><img src="/images/flogo.png" alt=""></div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
      </div>
    </div>
  </section>
  </div>
    <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
        </div>
    </div>
  </section>
</footer>
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/script-loading.js"></script>
<script type="text/javascript" src="/js/script-numbercounter.js"></script>
<script type="text/javascript" src="/js/tabscript.js"></script>
<script type="text/javascript" src="/js/menu-script.js"></script>
<script type="text/javascript" src="/js/script-accordian.js"></script>
<script type="text/javascript" src="/js/script-countryflag.js"></script>
<!-- <script type="text/javascript" src="/js/tab-script.js"></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script> -->
<script>
  $(document).ready(function() {
        var owl = $('.testimonialslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.suuslider');
        owl.owlCarousel({
          margin: 15,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 4
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.motorsslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 2
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.eventslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.patentslider');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        });
      });
</script>

<script>
  $(document).ready(function() {
        var owl = $('.honslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        });
      });
</script>
<!-- <script>
  $(document).ready(function() {
        var owl = $('.abtjurslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 500,
    disableOnInteraction: true,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 3
            }
          }
        });
      });
</script> -->
<script>
  $(document).ready(function() {
    $(".abtjurslide").owlCarousel({
        items : 3,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        navigation:true,
        navigationText:["",""],
        pagination:true,
        loop:true,
        autoPlay:true
    });
});
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
  $(document).ready(function(){
    $(".footmenu").click(function(){
      $(".fmenumob").toggle();
    });
  });
  </script>
     </body>
      </html>