<footer class="full-footer desk">
  <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com</p>
          <p>Phone: +91-7292-410500<br>
            Fax: +91-7292-410645<br>
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 flogo"><img src="/images/flogo.png" alt=""></div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        </div>
    </div>
  </section>
</footer>
<footer class="full-footer mob">
  <div class="footmenu">Others Menu <i class="bx bx-menu"></i></div>
  <div class="fmenumob">
    <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com
            Phone: +91-7292-410500
            Fax: +91-7292-410645
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 flogo"><img src="/images/flogo.png" alt=""></div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
      </div>
    </div>
  </section>
  </div>
    <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
        </div>
    </div>
  </section>
</footer>
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/script-loading.js"></script>
<script type="text/javascript" src="/js/script-numbercounter.js"></script>
<script type="text/javascript" src="/js/tabscript.js"></script>
<script type="text/javascript" src="/js/menu-script.js"></script>
<script type="text/javascript" src="/js/script-accordian.js"></script>
<script type="text/javascript" src="/js/script-countryflag.js"></script>
<!-- <script type="text/javascript" src="/js/tab-script.js"></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script> -->

<script>
  $(document).ready(function() {
        var owl = $('.suuslider');
        owl.owlCarousel({
          margin: 15,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 4
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.testimonialslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.govtsuuslider');
        owl.owlCarousel({
          margin: 15,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 3
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.chproslider');
        owl.owlCarousel({
          margin: 15,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 4
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.motorsslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 2
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.eventslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.patentslider');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        });
      });
</script>

<script>
  $(document).ready(function() {
        var owl = $('.honslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.happcusslider');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 3
            }
          }
        });
      });
</script>
<!-- <script>
  $(document).ready(function() {
        var owl = $('.abtjurslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 500,
    disableOnInteraction: true,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 3
            }
          }
        });
      });
</script> -->
<script>
  $(document).ready(function() {
    $(".abtjurslide").owlCarousel({
        items : 3,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        navigation:true,
        navigationText:["",""],
        pagination:true,
        loop:true,
        autoPlay:true
    });
});
</script>
<script>
  $(document).ready(function() {
        var owl = $('.pumpdemoslide');
        owl.owlCarousel({
          margin: 18,
          nav: true,
          loop: true,
          autoplay: {
    delay: 500,
    disableOnInteraction: true,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 4
            }
          }
        });
      });
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
  $(document).ready(function(){
    $(".footmenu").click(function(){
      $(".fmenumob").toggle();
    });
  });
  </script>
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
  <script src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js'>
  </script><script  src="/js/scalscript.js"></script>
  <script src='https://unpkg.com/xzoom/dist/xzoom.min.js'></script>
  <script  src="/js/script-product.js"></script>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvR5pNOvll3ZzLp3ioyktyntl2ilibzxM&callback=initMap" async defer></script> -->

  <!-- {/* js for map  */} -->
  <script>
  // const locations = [
  //   { lat: 15.9129, lng: 79.7400, title: "Andhra Pradesh" },
  //   { lat: 28.2170, lng: 94.7278, title: "Arunachal Pradesh" },
  //   { lat: 26.2006, lng: 92.9376, title: "Assam" },
  //   { lat: 25.0961, lng: 85.3131, title: "Bihar" },
  //   { lat: 22.2587, lng: 71.1924, title: "Gujarat" },
  //   { lat: 19.7515, lng: 75.7139, title: "Maharashtra" }
  // ];

  // function initMap() {
  //   const map = new google.maps.Map(document.getElementById('map'), {
  //     zoom: 5,
  //     center: { lat: 20.5937, lng: 78.9629 }  // Center the map to India
  //   });

  //   locations.forEach(location => {
  //     const marker = new google.maps.Marker({
  //       position: { lat: location.lat, lng: location.lng },
  //       map: map,
  //       title: location.title
  //     });

  //     // Optional: Add an info window when clicking the marker
  //     const infoWindow = new google.maps.InfoWindow({
  //       content: `<h4>${location.title}</h4>`
  //     });

  //     marker.addListener('click', () => {
  //       infoWindow.open(map, marker);
  //     });
  //   });
  // }
</script>


<!-- Working Start -->
<script>
  function getval(selectedYear) {
    // Get all divs with class 'downloadcardpan'
    var reportDivs = document.getElementsByClassName('downloadcardpan');

    // Loop through each div
    for (var i = 0; i < reportDivs.length; i++) {
      var div = reportDivs[i];
      
      // Show all divs if 'ALL' is selected, otherwise hide non-matching years
      if (selectedYear === 'ALL' || div.id === selectedYear) {
        div.style.display = 'block'; // Show the matching div
      } else {
        div.style.display = 'none'; // Hide the non-matching divs
      }
    }
  }
</script>

<!-- Working ends here -->


<!-- google translate -->
<!-- <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: 'en' },
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->




