<header class="fullheader">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            <h1>
              <a href="/"><img src="/images/Logo.png" alt=""></a>
            </h1>
          </div>
          <div class="col-lg-7 col-md-2 col-sm-12">
            <nav>
              <div class="navbar">
                <i class='bx bx-menu'></i>
                <!-- <div class="logo"><a href="#">Logo</a></div> -->
                <div class="nav-links">
                  <div class="sidebar-logo">
                    <!-- <span class="logo-name">Logo</span> -->
                    <i class='bx bx-x'></i>
                  </div>
                  <ul class="links">
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="/product">Product</a></li>
                    <li class="dropdown">
                      <a href="#" class="" id="dropdown1" aria-expanded="false">Investor Relations</a>
                      <ul class="dropdown-menu" id="dropdown2" style="margin-top: 530px !important;">
                          <li><a class="dropdown-item" href="/chairmen-profile">Chairman Profile</a></li>
                          <li><a class="dropdown-item" href="/financial-reports">Financial Reports</a></li>
                          <li><a class="dropdown-item" href="/shareholding-pattern">Shareholding Pattern</a></li>
                          <li><a class="dropdown-item" href="/general-info">General Information</a></li>
                          <li><a class="dropdown-item" href="/corporate-governance">Report on Corporate Governance</a></li>
                          <li><a class="dropdown-item" href="/policies-programs">Policies & Programs</a></li>
                          <li><a class="dropdown-item" href="/secretarial-audit">Secretarial Audit Report</a></li>
                          <li><a class="dropdown-item" href="/compliance-certificate">Compliance Certificate</a></li>
                          <li><a class="dropdown-item" href="/news-announcements">News and Announcements</a></li>
                          <li><a class="dropdown-item" href="/board-meeting">Board Meeting</a></li>
                          <li><a class="dropdown-item" href="/general-meeting">General Meeting</a></li>
                          <li><a class="dropdown-item" href="/postal-ballot">Postal Ballot</a></li>
                          <li><a class="dropdown-item" href="/kyc-updation">KYC Updation - Physical Shareholders</a></li>
                          <li><a class="dropdown-item" href="/investor-education">Investors Education & Provident Funds</a></li>
                          <li><a class="dropdown-item" href="/qip">QIP</a></li>
                      </ul>
                    </li>
                    <li><a href="/service-support">Services & Support</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a href="/career">Career</a></li>
                    <li><a href="/contact">Contact Us</a></li>                
                  </ul>
                </div>
                <div class="search-box">
                  <i class='bx bx-search'></i>
                  <div class="input-box">
                    <input type="text" placeholder="Search...">
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-12">
            <div class="top-right">
              <ul>
                <li><a href="#"><img src="/images/Whistleblower.png" alt=""></a></li>
                <li><a href="#"><img src="/images/Search.png" alt=""></a></li>
                <li><a href="#"><img src="/images/global.png" alt=""> EN <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                <li><a href="#">Login <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>