<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
  
    <%- include('../common/header.ejs') %>
    <section class="about-banner chairmanban">
        <div><img src="/images/chpro-banner.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>Mr. Dinesh Patidar <span>Chairman & Whole Time Director</span></h2>
                    <p>Is a visionary, self-made industrialist and leader with a strong business acumen and knowledge in development of engineering products and management.</p>
                    <p>His more than 3 decades of experience and extensive business travels across the world helped him to adopt latest and best practices in business to develop a competitive edge.</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/images/ban-propic.png" alt="">
                </div>
            </div>
        </div>
      </section>
    <section class="jobintro">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 jobintrocont greenenglft">
             <h2><span>From Vision to Reality</span> Mr. Patidar's Journey Building a Global Pumping Powerhouse</h2>
            <p><strong>Mr. Dinesh Patidar</strong> is the Chairman and Whole Time Director of Shakti Pumps (India) Limited, a leading manufacturer of India's first BEE 5 Star rated pumps. The ISO 9001:2015 certified company founded in 1982 is among the few pioneers in the world to produce 100% stainless steel pumps & energy efficient motors.</p>
            <p>Mr. Patidar took over the responsibilities of Shakti Pumps from his father in 1986. Since then, his visionary approach and strategic business acumen has made Shakti Pumps a dominant entity with access to over 125 countries across the world and a promising future. He has had the distinction of successfully introducing stainless steel pumps in the Indian market, contrary to the industry trend.</p>
            <p>Mr. Patidar provides overall leadership to the company and drives business in conjunction with its core philosophy. He also provides guidance to the product design and development team, apart from directing various aspects of manufacturing, policy formulation and strategic decision making. Extensive travel across the world has helped him garner an understanding of global trends and benchmarks in quality and technology. He has used this knowledge to spearhead the company's marketing and sales strategies as well. Having attained core competency in engineering skills and thorough knowledge in pump designing and manufacturing along with a keen understanding of market dynamics, Mr. Patidar leads and guides his dynamic team in an open and transparent manner.</p>
            <p>Shakti Pumps has achieved various accolades and accreditations under Mr. Patidar's able leadership. Some of them are BEE 5-Star rating for energy efficiency for its 260+ pump models and UL certification for product safety & reliability which helps the company enhance market acceptability in the US, Canada and other developed countries.</p>
            <p>Designing and development of new products, experimenting with new ideas in designing and working on complex engineering challenges are his major interests. Mr. Patidar resides with his family in Indore.</p>
        </div>
          <div class="col-lg-3 col-md-3 col-sm-12 keyjobdtls grnengrgt chrrgtsec">
            <h3>Key Information:</h3>
            <ul>
                <li>He took over the responsibilities of Shakti Pumps from his father in 1986</li>
                <li>He has had the distinction of successfully introducing stainless steel pumps in the Indian market</li>
                <li>Provides guidance to the product design and development team</li>
                <li>Shakti Pumps has achieved various accolades and accreditations under Mr. Patidar's able leadership</li>
            </ul>
          </div>
          </div>
        </div>
      </section>
      <section class="makeussuccess relatedproducts govtrelpro">
        <div class="container chaimpro">
          <h2>
            <span>Shakti Pumps</span>
            Other Board of Directors
          </h2>
          <h5>Other Directors <span>09</span></h5>
          <div class="chproslider">
            <div class="mempan">
              <img src="/images/ch1.png" alt="">
              <h3>Mr. Ashwin Bhootda <span>Whole Time Director</span></h3>
              <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup">
            </div>
            <div class="mempan">
              <img src="/images/ch2.png" alt="">
              <h3>Mr. Hirabhai Somabhai Patel <span>Independent Director</span></h3>
              <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup">
            </div>
            <div class="mempan">
              <img src="/images/ch3.png" alt="">
              <h3>Mr. Bhim Singh <span>Independent Director</span></h3>
              <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup">
            </div>
            <div class="mempan">
              <img src="/images/ch4.png" alt="">
              <h3>Mr. V.S.S. Pavan Kumar Hari <span>Independent Director</span></h3>
              <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup">
            </div>
          </div>
        </div>
      </section>
<%- include('../common/footer.ejs') %>
     </body>
      </html>