<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <!-- heading general info  -->
    <section class="shaktivideobann">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>General Information</h2>
          </div>
        </div>  
      </div>
    </section>

    <!-- directorlists -->
    <section class="boarddirector">
      <div class="container">
        <h2>Board of Directors</h2>
        <div class="directorlists">
          <div class="mempan">
            <img src="/images/member1.png" alt="" />
            <h3>Mr. Dinesh Patidar <span>Chairman & Director</span></h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member2.png" alt="" />
            <h3>Mr. Ramesh Patidar <span>Managing Director</span></h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member3.png" alt="" />
            <h3>Mr. Sunil Patidar <span>Executive Director</span></h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member4.png" alt="" />
            <h3>Mr. Ashwin Bhootda <span>Whole Time Director</span></h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member5.png" alt="" />
            <h3>
              Mr. Hirabhai Somabhai Patel <span>Independent Director</span>
            </h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member6.png" alt="" />
            <h3>Mr. Bhim Singh <span>Independent Director</span></h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member7.png" alt="" />
            <h3>
              Mr. V.S.S. Pavan Kumar Hari <span>Independent Director</span>
            </h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member8.png" alt="" />
            <h3>
              Mr. Keyur Bipinchandra Thaker <span>Executive Director</span>
            </h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/member9.png" alt="" />
            <h3>Mrs. Nishtha Neema <span>Independent Director</span></h3>
            <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
          <div class="mempan">
            <img src="/images/ramkishan.png" alt="" />
            <h3>
              Mr. Ramakrishna Sataluri
              <span>Non-Executive & Non-Independent Director</span>
            </h3>
            <!-- <img src="/images/ramkrishna.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
          </div>
        </div>
      </div>
    </section>

    <!-- ourvalue section -->
    <section class="ourvalue">
      <div class="container" data-animation="fadeInUp">
        <h2>Our Committee</h2>
        <!-- partial:index.partial.html -->
        <ul class="tabs">
          <li class="active" rel="tab1">Audit</li>
          <li rel="tab2">Nomination & Remuneration</li>
          <li rel="tab3">Treasury</li>
          <li rel="tab4">Stakeholder Relationship</li>
          <li rel="tab5">Risk Management</li>
          <li rel="tab6">Corporate Social Responsibility</li>
        </ul>
        <div class="tab_container">
          <h3 class="d_active tab_drawer_heading" rel="tab1">Audit</h3>
          <div id="tab1" class="tab_content">
            <div class="managerlists membtab">
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. Keyur Bipinchandra Thaker <span>Chair Person</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. Ramesh Patidar <span>Member </span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. V.S.S. Pavan Kumar Hari <span> Member </span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
            </div>
          </div>
          <!-- #tab1 -->
          <h3 class="tab_drawer_heading" rel="tab2">
            Nomination & Remuneration
          </h3>
          <div id="tab2" class="tab_content">
            <div class="managerlists membtab">
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>
                  Mr. Keyur Bipinchandra Thaker <span>Chair Person </span>
                </h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. V.S.S. Pavan Kumar Hari <span>Member</span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. Ramakrishna Sataluri <span>Member</span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
            </div>
          </div>

          <!-- #tab2 -->
          <h3 class="tab_drawer_heading" rel="tab3">Treasury</h3>
          <div id="tab3" class="tab_content">
            <div class="managerlists membtab">
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. Ramesh Patidar <span>Chair Person </span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. Dinesh Patidar <span> Member</span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src=" /images/dummy-pic.png" alt=""> -->
                <h3>Mr. Keyur Bipinchandra Thaker <span>Member</span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
            </div>
          </div>
          <!-- #tab3 -->
          <h3 class="tab_drawer_heading" rel="tab4">
            Stakeholder Relationship
          </h3>
          <div id="tab4" class="tab_content">
            <div class="managerlists membtab">
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. Keyur Bipinchandra Thaker <span>Chair Person</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. Ashwin Bhootda<span>Member</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. V.S.S. Pavan Kumar Hari <span>Member</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
            </div>
          </div>
          <!-- #tab4 -->
          <h3 class="tab_drawer_heading" rel="tab5">Risk Management</h3>
          <div id="tab5" class="tab_content">
            <div class="managerlists membtab">
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. Ramesh Patidar <span>Chair Person</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. V.S.S. Pavan Kumar Hari<span>Member</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. Ashwin Bhootda <span>Member</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
            </div>
          </div>
          <!-- #tab5 -->
          <h3 class="tab_drawer_heading" rel="tab6">
            Corporate Social Responsibility
          </h3>
          <div id="tab6" class="tab_content">
            <div class="managerlists membtab">
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. Ashwin Bhootda <span>Chair Person</span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. Keyur Bipinchandra Thaker <span>Member</span></h3>
                <!-- <img src=" /images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
              <div class="mempan">
                <!-- <img src="/images/dummy-pic.png" alt=""> -->
                <h3>Mr. V.S.S. Pavan Kumar Hari <span>Member</span></h3>
                <!-- <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Other Information -->
    <section class="ourvalue mediasoacial">
      <div class="container" data-animation="fadeInUp">
        <h2>Other Information</h2>
        <!-- partial:index.partial.html -->
        <ul class="tabssinfo">
          <li class="active" rel="tab11">
            Terms of Appointment of Independent Director
          </li>
          <li rel="tab22">Certificate & Articles</li>
          <li rel="tab33">Resignation Letter</li>
        </ul>
        <div class="tab_container">
          <h3 class="d_active tab_drawer_heading" rel="tab11">
            Terms of Appointment of Independent Director
          </h3>
          <div id="tab11" class="tab_contentsinfo">
            <div class="foundtabinsid financedtlstab">
              <div class="downloadcardlist">
                <div class="downloadcardpan subsidaryrestpan">
                  <h3>Terms of Appointment of Independent Director.</h3>
                  <a
                    href="/pdfFiles/generalInfo/Terms_of_Appoinment_of_Independent_Director.pdf"
                    class="readmore"
                    ><img src="assets/images/pdf-iconwh.png" alt="" />
                    Download</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- #tab1 -->
          <h3 class="tab_drawer_heading" rel="tab22">Certificate & Articles</h3>
          <div id="tab22" class="tab_contentsinfo">
            <div class="foundtabinsid financedtlstab">
              <div class="downloadcardlist">
                <div class="downloadcardpan subsidaryrestpan">
                  <h3>MOA & AOA</h3>
                  <a href="/pdfFiles/generalInfo/moa&aoa.pdf" class="readmore"
                    ><img src="assets/images/pdf-iconwh.png" alt="" />
                    Download</a
                  >
                </div>

                <div class="downloadcardpan subsidaryrestpan">
                  <h3>COI</h3>
                  <a href="/pdfFiles/generalInfo/COI.pdf" class="readmore"
                    ><img src="assets/images/pdf-iconwh.png" alt="" />
                    Download</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- #tab2 -->
          <h3 class="tab_drawer_heading" rel="tab33">Resignation Letter</h3>
          <div id="tab33" class="tab_contentsinfo">
            <div class="foundtabinsid financedtlstab">
              <div class="downloadcardlist">
                <div class="downloadcardpan subsidaryrestpan">
                  <h3>Resignation Letter Mr. B.M. Sharma</h3>
                  <a
                    href="/pdfFiles/generalInfo/Resignation_Letter_of_Mr_BM_Sharma.pdf"
                    class="readmore"
                    ><img src="assets/images/pdf-iconwh.png" alt="" />
                    Download</a
                  >
                </div>
                <div class="downloadcardpan subsidaryrestpan">
                  <h3>Resignation Letter Mr. Rajkumar Jain</h3>
                  <a
                    href="/pdfFiles/generalInfo/Resignation_Letter_of_Mr_Rajkumar_Jain.pdf"
                    class="readmore"
                    ><img src="assets/images/pdf-iconwh.png" alt="" />
                    Download</a
                  >
                </div>

                <div class="downloadcardpan subsidaryrestpan">
                  <h3>Resignation Letter Mr. S.S. Raghuwanshi</h3>
                  <a
                    href="/pdfFiles/generalInfo/Resignation_Letter_of_Mr_SS_Raghuwanshi.pdf"
                    class="readmore"
                    ><img src="assets/images/pdf-iconwh.png" alt="" />
                    Download</a
                  >
                </div>
                <div class="downloadcardpan subsidaryrestpan">
                  <h3>Resignation Letter Mr. Sridhar Narayan</h3>
                  <a
                    href="/pdfFiles/generalInfo/Resignation_Letter_of_Mr_Sridhar_Narayan.pdf"
                    class="readmore"
                    ><img src="assets/images/pdf-iconwh.png" alt="" />
                    Download</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- #tab3 -->
        </div>
      </div>
    </section>

    <%- include('../common/footer.ejs') %>
  </body>
</html>
