<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="about-banner lifeatsktban">
      <div><img src="/images/financial-banner.png" alt="" /></div>
      <div class="container">
        <h2>
          QUALIFIED INSTITUTIONAL <br> PLACEMENTS
        </h2>
      </div>
    </section>


    <section class="qipsec">
 
        <div  class="container" style="border: 1px solid black; border-radius: 30px; padding: 25px; margin-bottom: 10px;  margin-top: 30px; color: black;">
            <h2>DISCLAIMER - IMPORTANT</h2>
            <p >NOT FOR DISTRIBUTION TO ANY PERSON OR ADDRESS IN THE UNITED STATES.
                THE ISSUE OF THE SECURITIES DESCRIBED IN THE ATTACHED PRELIMINARY PLACEMENT
                DOCUMENT IS AVAILABLE ONLY TO INVESTORS WHO ARE QUALIFIED INSTITUTIONAL BUYERS
                AS DEFINED UNDER REGULATION 2(1)(SS) OF THE SECURITIES AND EXCHANGE BOARD OF
                INDIA (ISSUE OF CAPITAL AND DISCLOSURE REQUIREMENTS) REGULATIONS, 2018.</p>
            <p><b>IMPORTANT: You must read the following notice before continuing.</b> The following notice applies to the
                pre-numbered <b>Preliminary Placement Document</b> cum Application Form (the “Preliminary Placement
                Document”) of Shakti Pumps (India) Limited (the <b>“Company”</b>) and you are therefore advised to read the
                following notice carefully before accessing or making any other use of the Preliminary Placement Document. By
                accessing the Preliminary Placement Document, you agree to be bound by the following terms and conditions,
                including any modifications to them from time to time, each time you receive any information from us as a result
                of such access.</p>

            <p><b>The Preliminary Placement Document is intended for use by the intended recipient(s) only and you are
                not authorised to forward it or deliver it to any other person, in whole or in part, or otherwise provide
                access via e-mail or otherwise to any other person, except your advisers and others in your company
                (provided that they are not in the United States or in any jurisdiction where offers or solicitations of the
                Equity Shares in the Issue (as both terms are defined in the Preliminary Placement Document) are not
                permitted by law).</b></p>

                <p><b>The offer is personal to each prospective investor and is being made on a private placement basis and does
                    not constitute, and should not be construed as, an offer or invitation or solicitation of an offer to the public
                    or to any other person or class of investors.</b></p>

                <p>The issue and distribution of the Preliminary Placement Document is being done in reliance upon Chapter VI of
                    the Securities and Exchange Board of India (Issue of Capital and Disclosure Requirements) Regulations, 2018,
                    as amended (the <b>“SEBI ICDR Regulations”</b>), and Section 42 and Section 62 of the Companies Act, 2013, as
                    amended, read with Rule 14 of the Companies (Prospectus and Allotment of Securities) Rules, 2014, as
                    amended, and other applicable provisions of the Companies Act, 2013 and rules framed thereunder, each as
                    amended (the <b>“Companies Act”</b>). The Preliminary Placement Document has not been and will not be registered
                    as a prospectus or a statement in lieu of prospectus with any registrar of companies in India under the Companies
                    Act, and the Preliminary Placement Document should not be considered an offer document in this regard. The
                    Preliminary Placement Document has been submitted to the Stock Exchanges (as defined in the Preliminary
                    Placement Document). The Preliminary Placement Document has not been and will not be reviewed and
                    approved by any regulatory authority or listing in India or abroad, including the Securities and Exchange Board
                    of India, the Reserve Bank of India, any registrar of companies in India or any stock exchange in India.</p>


                <p>The Equity Shares (as defined in the Preliminary Placement Document) offered pursuant to the Preliminary
                    Placement Document have not been, and will not be, registered under the U.S. Securities Act of 1933, as
                    amended (the <b>“U.S. Securities Act”</b>), or the securities laws of any state of the United States and they may not be
                    offered or sold in the United States except pursuant to a transaction exempt from, or not subject to, the
                    registration requirements of the U.S. Securities Act and applicable state securities laws. The Equity Shares are
                    being offered and sold only outside the United States in reliance on Regulation S under the U.S. Securities Act
                    (<b>“Regulation S”</b>) and the applicable laws of the jurisdiction where those offers and sales occur.</p>


                <p>NOTHING HEREIN CONSTITUTES AN OFFER OF EQUITY SHARES FOR SALE IN ANY
                    JURISDICTION WHERE IT IS UNLAWFUL TO DO SO.</p>

                <p>The Preliminary Placement Document does not constitute, and may not be used in connection with, an offer or
                    solicitation of Equity Shares in any jurisdiction where offers or solicitations are not permitted by law. You are
                    reminded that the Preliminary Placement Document has been delivered to you on the basis that you are a person
                    into whose possession the Preliminary Placement Document may be lawfully delivered in accordance with the
                    laws of the jurisdiction in which you are located.</p>

                <p>You are advised that the information in the attached Preliminary Placement Document is not complete and may
                    be changed at any time without notice.If you have gained access to this transmission contrary to the foregoing restrictions, you will be unable to
                    purchase any of the Equity Shares offered pursuant to Preliminary Placement Document.</p>

            
                <p>You are responsible for protecting against viruses and other destructive items. Your use of this e-mail is at your
                    own risk and it is your responsibility to take precautions to ensure that it is free from viruses and other items of a
                    destructive nature.</p>

                <p>Access to the Preliminary Placement Document does not constitute a recommendation by the Company, the
                    BRLM, any of their respective affiliates or any other party to subscribe to or buy or sell the Equity Shares.</p>

                <p><b>
                    If you do not agree to the terms contained herein, you are unauthorised to access the Preliminary
                    Placement Document and you should delete and destroy any printed or soft copies of the Preliminary
                    Placement Document.
                </b></p>
            <div id="check-box" style="margin-top: 35px;">
                <input type="checkbox" onclick="showPdf(this.id)" name="declaration" id="declaration" style="margin: 0px !important;"> <span style="margin-left: 10px; font-size: larger;"><b>I Accept the terms and conditions Mentioned Above.</b></span>
            </div>
            
            <div class="row">
                <div id="document" style=" width: 35%; margin: 25px ; text-align: center; border: 1px solid black; display: none">
                  <a
                    download=""
                    href="/pdfFiles/qip/ProjectShaktiPreliminaryPlacementDocument.pdf"
                    style="padding: 10px; display: flex; align-items: center; justify-content: center; gap: 10px; text-decoration: none;"
                  >
                    <img src="/images/pdf-icon.png" alt="PDF Icon" style="width: 40px; height: auto;">
                    <h4 style="margin: 0;">DOWNLOAD</h4>
                  </a>
                  <span  style="font-family: Poppins; font-size: 14px;" >Project Shakti Preliminary Placement Document</span>
                </div>
              
                <div id="document1" style=" width: 35%; margin: 25px ; text-align: center; border: 1px solid black; display: none">
                  <a
                    download=""
                    href="/pdfFiles/qip/Shakti_Placement Document_20240322203143.pdf"
                    style="padding: 10px; display: flex; align-items: center; justify-content: center; gap: 10px; text-decoration: none;"
                  >
                    <img src="/images/pdf-icon.png" alt="PDF Icon" style="width: 40px; height: auto;">
                    <h4 style="margin: 0;">DOWNLOAD</h4>
                  </a>
                  <span style="font-family: Poppins; font-size: 14px;">Project Shakti Placement Document</span>
                </div>
              </div>
              
        </div>
    
    </section>
 
    <%- include('../common/footer.ejs') %>

    <script>
        function showPdf(id) {
          const checkbox = document.getElementById(id);
          const documentDiv = document.getElementById('document');
          const document1Div = document.getElementById('document1');

          
    
          // Toggle visibility based on the checkbox state
          if (checkbox.checked) {
            documentDiv.style.display = 'block';
            document1Div.style.display = 'block';
          } else {
            documentDiv.style.display = 'none';
            document1Div.style.display = 'none';
          }
        }
      </script>
  </body>
</html>
