<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <!-- Notice modal start-->
  <div
    class="modal fade"
    id="noticepopup"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="noticepopup"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img src="/images/pop-close.png" alt="" />
        </button>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 teampropic">
              <img src="/images/noticepopimg.png" alt="" />
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 noticepopdtls">
              <h5>Category Name</h5>
              <h2>
                Shakti Domestic pumps are Ideal for homes to maintain water
                pressure in taps and for general applications
              </h2>
              <div class="noticepopdownload">
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <button
                  class="noticedownbtn"
                  data-bs-toggle="modal"
                  data-bs-target="#noticepopup"
                >
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                semper consectetur est non imperdiet. Morbi velit sem, suscipit
                sit amet sem sed, tristique tempus felis. Nulla ornare varius
                turpis eget finibus.
              </p>
              <p>
                Vestibulum in nibh quis risus gravida egestas quis quis leo.
                Aliquam erat volutpat. In sed nibh mollis quam lobortis blandit.
                Integer sed massa sed orci varius vestibulum ac vel nunc. Fusce
                vehicula mattis libero nec pharetra. Ut at libero in lacus
                molestie blandit. Integer tristique non risus in sagittis.
                Maecenas pharetra consequat tellus id sodales.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Notice modal end-->
  <body>
    <%- include('../common/header.ejs') %>

    <section class="newsfilter">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <h2>
              Notice Of Shakti Pumps
              <span>Total Notice: 20</span>
            </h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 newfilrgt">
            <select>
              <option>Select Category</option>
            </select>
            <input type="date" value="DD.MM.YYYY" />
          </div>
        </div>
      </div>
    </section>
    <section class="newslist">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="newslistpan">
              <div class="newslistdtlsrgt">
                <h4>Category Name</h4>
                <h2>
                  Shakti Domestic pumps are Ideal for homes to maintain water
                  pressure in taps and for general applications.
                </h2>
                <h3>
                  <span
                    ><img src="/images/calendar.png" alt="" /> 10th Jan,
                    2024</span
                  >
                  <span
                    ><img src="/images/news-icon.png" alt="" height="24" />
                    Times Of India</span
                  >
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper imperdiet. Morbi velit...
                </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#noticepopup"
                  >Read More <img src="/images/newsmore-arrow.png" alt=""
                /></a>
                <button class="noticedownbtn">
                  <img src="/images/pdf-icon.png" alt="" /> Download
                </button>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="readmore">Load More</a>
      </div>
    </section>
    <%- include('../common/footer.ejs')%>
  </body>
</html>
