<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="css/style-loading.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="about-banner infraban">
      <div><img src="images/infrastructure-banner.png" alt="" /></div>
      <div class="container">
        <h2>
          <span>Future-Driven Infrastructur </span>
          Harnessing Advanced Technology To Build A Sustainable Tomorrow!
        </h2>
      </div>
    </section>
    <section class="infgall">
      <div class="container">
        <h2>Infrastructure</h2>
        <p>
          Shakti Pumps boasts a diverse and sophisticated infrastructure that
          supports our mission to provide cutting-edge pumping solutions. Shakti
          Pumps’ facilities are strategically located and equipped with advanced
          technology to cater to both domestic and international markets.
        </p>
        <div class="infragall">
          <ul>
            <li><img src="images/infra-1.png" alt="" /></li>
            <li><img src="images/infra-2.png" alt="" /></li>
            <li><img src="images/infra-3.png" alt="" /></li>
            <li><img src="images/infra-4.png" alt="" /></li>
            <li><img src="images/infra-5.png" alt="" /></li>
            <li><img src="images/infra-6.png" alt="" /></li>
            <li><img src="images/infra-7.png" alt="" /></li>
            <li><img src="images/infra-8.png" alt="" /></li>
          </ul>
        </div>
        <a href="#" class="readmore">Load More</a>
      </div>
    </section>
    <section class="infgall resdev">
      <div class="container">
        <h2>Research & Development</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu
          commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus
          porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim
          viverra euismod. Nunc sit amet odio sit amet dui euismod luctus quis
          sed nulla. Curabitur vestibulum ligula a sapien semper pharetra. Sed
          ultrices tincidunt sem, id pretium nunc auctor commodo. In mauris
          nunc, convallis quis sem eget, suscipit ultricies massa.
        </p>
        <div class="infragall">
          <ul>
            <li><img src="images/res-1.png" alt="" /></li>
            <li><img src="images/res-2.png" alt="" /></li>
            <li><img src="images/res-3.png" alt="" /></li>
            <li><img src="images/res-4.png" alt="" /></li>
            <li><img src="images/res-5.png" alt="" /></li>
            <li><img src="images/res-6.png" alt="" /></li>
            <li><img src="images/res-7.png" alt="" /></li>
            <li><img src="images/res-8.png" alt="" /></li>
          </ul>
        </div>
        <a href="#" class="readmore">Load More</a>
      </div>
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html>
