<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="about-banner infraban">
      <div><img src="/images/infrastructure-banner.png" alt="" /></div>
      <div class="container">
        <h2>
          <span style="font-size: 22px; line-height: 70px;">Future-Driven Infrastructure</span>
          Harnessing Advanced Technology To Build A Sustainable Tomorrow!
        </h2>
      </div>
    </section>
    <section class="infgall">
      <div class="container">
        <h2>Infrastructure</h2>
        <p>
          Shakti Pumps' robust and advanced infrastructure drives our mission to
          deliver innovative pumping solutions. Strategically located and
          equipped with state-of-the-art technology, our facilities cater
          seamlessly to both domestic and international markets.
        </p>
        <div class="infranumber">
          <ul>
            <li>
              <img src="/images/infra1.png" alt="" />
              <h4>10+</h4>
              <p>Manufacturing Facilities</p>
            </li>
            <li>
              <img src="/images/infra2.png" alt="" />
              <h4>500000+</h4>
              <p>Capacity</p>
            </li>
            <li>
              <img src="/images/infra3.png" alt="" />
              <h4>14+</h4>
              <p>Patents</p>
            </li>
            <li>
              <img src="/images/infra4.png" alt="" />
              <h4>30+</h4>
              <p>Warehousing And Logistics</p>
            </li>
            <li>
              <img src="/images/infra5.png" alt="" />
              <h4>8+</h4>
              <p>Energy & Sustainability</p>
            </li>
          </ul>
        </div>
        <div class="infragall">
          <ul>
            <li><img src="/images/infra-1.png" alt="" /></li>
            <li><img src="/images/infra-2.png" alt="" /></li>
            <li><img src="/images/infra-3.png" alt="" /></li>
            <li><img src="/images/infra-4.png" alt="" /></li>
            <li><img src="/images/infra-5.png" alt="" /></li>
            <li><img src="/images/infra-6.png" alt="" /></li>
            <li><img src="/images/infra-7.png" alt="" /></li>
            <li><img src="/images/infra-8.png" alt="" /></li>
          </ul>
        </div>
        <!-- <a href="#" class="readmore">Load More</a> -->
      </div>
    </section>
    <section class="infgall resdev">
      <div class="container">
        <h2>Research and Development: Driving Innovation for the Future</h2>
        <p>
          At Shakti Pumps, innovation is the cornerstone of our operations,
          supported by a dedicated investment of 3-4% of the company’s net
          profit towards Research and Development. Our unwavering commitment to
          R&D fuels our drive to create technologically advanced solutions that
          address India's evolving irrigation and pumping needs.
        </p>
        <p>
          Shakti’s R&D efforts are focused on pioneering the next generation of
          energy-efficient pumping products and solutions. Through a series of
          ongoing projects, we are at the forefront of developing new-age
          technologies that enhance performance, efficiency, and sustainability
          in the pumping sector.
        </p>
        <p>
          By investing in cutting-edge research and fostering a culture of
          innovation, Shakti Pumps is dedicated to advancing the industry and
          delivering products that not only meet but exceed market expectations.
          Shakti’s commitment to R&D ensures that we continue to lead the way in
          providing superior, forward-thinking solutions for our customers.
        </p>
        <div class="infranumber">
          <ul>
            <li>
              <img src="/images/infra8.png" alt="" />
              <h4>22</h4>
              <p>Cutting-Edge Technologies</p>
            </li>
            <li>
              <img src="/images/infra9.png" alt="" />
              <h4>120</h4>
              <p>Patents And Intellectual Property</p>
            </li>
            <li>
              <img src="/images/infra10.png" alt="" />
              <h4>2800</h4>
              <p>Product Innovation</p>
            </li>
            <li>
              <img src="/images/infra11.png" alt="" />
              <h4>500</h4>
              <p>State Of The Art Labs & Equipment</p>
            </li>
            <li>
              <img src="/images/infra12.png" alt="" />
              <h4>490</h4>
              <p>Rigorous Testing Procedures</p>
            </li>
          </ul>
        </div>
        <div class="infragall">
          <ul>
            <li><img src="/images/res-1.png" alt="" /></li>
            <li><img src="/images/res-2.png" alt="" /></li>
            <li><img src="/images/res-3.png" alt="" /></li>
            <li><img src="/images/res-4.png" alt="" /></li>
            <li><img src="/images/res-5.png" alt="" /></li>
            <li><img src="/images/res-6.png" alt="" /></li>
            <li><img src="/images/res-7.png" alt="" /></li>
            <li><img src="/images/res-8.png" alt="" /></li>
          </ul>
        </div>
        <a href="#" class="readmore">Load More</a>
      </div>
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html>
