<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
    <%- include('../common/header.ejs') %>

    <section class="about-banner domesticban">
      <div class="indusban">
        <img src="/images/industry-banner.png" alt="" />
      </div>
      <div class="container">
        <div class="domebantxt">
          <h2>Shakti Pumps Industrial Solutions</h2>
          <p>
            Shakti Pumps offers a diverse range of industrial pumps designed to
            meet various needs with superior performance and durability. With
            advanced features, competitive pricing, and excellent customer
            support, Shakti Pumps is the ideal choice for all your industrial
            pumping needs.
          </p>
          <div class="indusbannerbtn">
            <a href="#" class="welresultsbtn"
              ><img src="/images/pdf-icon.png" alt="" /> Download Corporate
              Brochure</a
            >
            <a href="#" class="welresultsbtn green"
              ><img src="/images/calculator.png" alt="" />Pump Selector</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="numbercount">
      <div class="container">
        <div class="numberinc">
          <!-- partial:index.partial.html -->
          <div class="counter-container">
            <img src="/images/Indiamap.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="07"></div>
              +
            </div>
            <span>Total City</span>
          </div>
          <div class="counter-container">
            <img src="/images/count-icon3.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="278"></div>
              +
            </div>
            <span>Pumps Installed</span>
          </div>

          <div class="counter-container">
            <img src="/images/count-icon5.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="4450"></div>
              +
            </div>
            <span>Total Customer</span>
          </div>
          <div class="counter-container">
            <img src="/images/infra1.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="58"></div>
              +
            </div>
            <span>Service Centre</span>
          </div>
          <div class="counter-container">
            <img src="/images/count-icon2.png" alt="" />
            <div class="count-wrap">
              <div class="counter" data-target="1020"></div>
              +
            </div>
            <span>Happy Customer</span>
          </div>
          <!-- partial -->
        </div>
      </div>
    </section>
    <section class="whatlooking contribution">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>Shakti <br />Industrial Pumps</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <p>
              Shakti Pumps stands out as a leader in providing efficient,
              durable, and reliable pumping solutions for various industrial
              pump applications. With a wide range of industrial pumps designed
              to meet specific needs, Shakti Pumps ensures high performance and
              longevity, making them the preferred choice for industries
              worldwide.
            </p>
            <p>
              Whether for water supply, irrigation, or industrial processes,
              Shakti Industrial Pumps delivers excellence in every aspect.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="industralseg">
      <div class="fullcontainer">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 lftindus">
            <h2>Industrial Pump</h2>
            <p>
              Shakti Pumps integrates advanced technology, offers a wide range
              of industrial pumps, focuses on sustainability, and provides
              excellent customer support, making it a reliable choice for
              various industrial applications.
            </p>
            <p>
              Shakti Industrial Pumps are designed to reduce energy consumption
              and environmental impact, particularly their solar pumps which
              utilise clean, pollution-free energy.
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 rgtindusoem">
            <h2>Industrial OEM</h2>
            <p>
              As an Original Equipment Manufacturer (OEM), Shakti Pumps partners
              with industries to offer customised pump solutions for their
              specific needs.
            </p>
            <p>
              Whether it's creating specialised components or delivering fully
              integrated systems, we work closely with businesses to ensure our
              pumps exceed expectations in both performance and longevity.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="indapplicationtype">
      <div class="container">
        <h2>Application Type</h2>
        <div class="applist">
          <div class="sucpan">
            <img src="/images/app-pic1.png" alt="" />
            <h3>Steel Industry.</h3>
          </div>
          <div class="sucpan">
            <img src="/images/app-pic2.png" alt="" />
            <h3>Chemical & Pharma</h3>
          </div>
          <div class="sucpan">
            <img src="/images/app-pic3.png" alt="" />
            <h3>Coal & Mining</h3>
          </div>
          <div class="sucpan">
            <img src="/images/app-pic4.png" alt="" />
            <h3>Cement Industry</h3>
          </div>
          <div class="sucpan">
            <img src="/images/app-pic5.png" alt="" />
            <h3>Textile Industry</h3>
          </div>
          <div class="sucpan">
            <img src="/images/app-pic6.png" alt="" />
            <h3>Tyre Industry</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="makeussuccess relatedproducts interpro">
      <div class="container">
        <h2>
          <span>Shakti pumps</span>
          Related Products
        </h2>
        <div class="suuslider">
          <div class="sucpan">
            <img src="/images/product1.png" alt="" />
            <h3>Shakti Monoblock End Suction Industrial Pumps</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product2.png" alt="" />
            <h3>Pressure Booster Industrial Pumps</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product3.png" alt="" />
            <h3>Sewage Pump - SDW Series</h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
          <div class="sucpan">
            <img src="/images/product4.png" alt="" />
            <h3>
              Vertical Multistage Centrifugal Pumps - SCR, SCRI, SCRN Series
            </h3>
            <h4>Pumps <span>50 Hz</span></h4>
          </div>
        </div>
        <div class="productsbtns">
          <a href="#">Check All Products</a>
          <a href="#" class="green">Pump Selector</a>
        </div>
      </div>
    </section>
    <section class="productenq">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>Product Enquiry</h2>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 proenqfrm">
            <form method="get">
              <select class="selind">
                <option>Select Industry</option>
              </select>
              <select class="selhosp">
                <option>Horsepower</option>
              </select>
              <input type="submit" value="Enquire Now" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="pmkusumvideo">
      <div class="container">
        <h2>Solar Pump Demo</h2>
        <div class="pumpdemoslide">
          <div class="demovidpan">
            <img src="/images/demopump-pic1.png" alt="" class="vdeopicslide" />
            <img src="/images/play-icon.png" alt="" class="playvidpop" />
          </div>
        </div>
      </div>
    </section>
    <section class="ourclients">
      <div class="container">
        <h2>Our Client</h2>
        <p>
          Our industrial clients range from leading corporations in steel
          manufacturing to major players in the chemical, mining, cement, and
          textile industries. They trust Shakti Pumps for our advanced
          technology, exceptional reliability, and commitment to quality.
        </p>
        <div class="client-logo">
          <img src="/images/client1.png" alt="" />
          <img src="/images/client2.png" alt="" />
          <img src="/images/client3.png" alt="" />
          <img src="/images/client4.png" alt="" />
          <img src="/images/client5.png" alt="" />
        </div>
      </div>
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html>
