<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <body>
  
    <header class="fullheader">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12">
            <h1>
              <a href="/"><img src="/images/Logo.png" alt=""></a>
            </h1>
          </div>
          <div class="col-lg-7 col-md-2 col-sm-12">
            <!-- <nav>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Services & Support</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contact Us</a></li>                
              </ul>
            </nav> -->
            <nav>
              <div class="navbar">
                <i class='bx bx-menu'></i>
                <!-- <div class="logo"><a href="#">Logo</a></div> -->
                <div class="nav-links">
                  <div class="sidebar-logo">
                    <!-- <span class="logo-name">Logo</span> -->
                    <i class='bx bx-x'></i>
                  </div>
                  <!-- <ul class="links">
                    <li><a href="#">HOME</a></li>
                    <li>
                      <a href="#">HTML & CSS</a>
                      <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                      <ul class="htmlCss-sub-menu sub-menu">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Login Forms</a></li>
                        <li><a href="#">Card Design</a></li>
                        <li class="more">
                          <span><a href="#">More</a>
                            <i class='bx bxs-chevron-right arrow more-arrow'></i>
                          </span>
                          <ul class="more-sub-menu sub-menu">
                            <li><a href="#">Neumorphism</a></li>
                            <li><a href="#">Pre-loader</a></li>
                            <li><a href="#">Glassmorphism</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">JAVASCRIPT</a>
                      <i class='bx bxs-chevron-down js-arrow arrow '></i>
                      <ul class="js-sub-menu sub-menu">
                        <li><a href="#">Dynamic Clock</a></li>
                        <li><a href="#">Form Validation</a></li>
                        <li><a href="#">Card Slider</a></li>
                        <li><a href="#">Complete Website</a></li>
                      </ul>
                    </li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT US</a></li>
                  </ul> -->
                  <ul class="links">
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Services & Support</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contact Us</a></li>                
                  </ul>
                </div>
                <div class="search-box">
                  <i class='bx bx-search'></i>
                  <div class="input-box">
                    <input type="text" placeholder="Search...">
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-2 col-sm-12">
            <div class="top-right">
              <ul>
                <li><a href="#"><img src="/images/Whistleblower.png" alt=""></a></li>
                <li><a href="#"><img src="/images/Search.png" alt=""></a></li>
                <li><a href="#"><img src="/images/global.png" alt=""> EN <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                <li><a href="#">Login <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.3999L5 4.5999L9 1.3999" stroke="#1F2B4C" stroke-width="1.5" stroke-linecap="round"/>
                </svg></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
<section class="about-banner domesticban">
  <div><img src="/images/domestic-banner.png" alt=""></div>
  <div class="container">
    <div class="domebantxt">
      <h2>Domestic pumps</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo.</p>
      <a href="#" class="welresultsbtn"><img src="/images/pdf-icon.png" alt=""> Download Corporate Broshure</a>
    </div>
  </div>
</section>
<section class="numbercount">
  <div class="container">
    <div class="numberinc">
      <!-- partial:index.partial.html -->
<div class="counter-container">
    <img src="/images/Indiamap.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="22"></div>+</div>
      <span>State</span>
    </div>
    <div class="counter-container">
      <img src="/images/dealer.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="120"></div>+</div>
      <span>Dealer</span>
    </div>
    <div class="counter-container">
      <img src="/images/count-icon3.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="2800"></div>+</div>
      <span>Pumps Sold</span>
    </div>
  
    <div class="counter-container">
      <img src="/images/count-icon5.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="500"></div>+</div>
      <span>Total Customer</span>
    </div>
    <div class="counter-container">
      <img src="/images/count-icon4.png" alt="">
      <div class="count-wrap"><div class="counter" data-target="490"></div>+</div>
      <span>Happy Customer</span>
    </div>
<!-- partial -->
    </div>
  </div>
</section> 
<section class="whatlooking contribution">
  <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <h2>Domestic <br>Shakti Pump</h2>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu commodo dui. Maecenas id facilisis mauris, at sagittis nisl. Phasellus porta imperdiet nunc eget vehicula. Donec lobortis mi eget enim viverra euismod. Nunc sit amet odio sit amet.</p>
          <p>Duis nec est a nisl lacinia blandit euismod nec tortor. Fusce iaculis purus eu iaculis blandit. Maecenas pretium, erat nec tempor gravida, enim diam consequat tellus, sed consequat arcu nulla in lectus. Curabitur blandit.</p>
        </div>
      </div>
  </div>
</section>
<section class="makeussuccess relatedproducts">
  <div class="container">
    <h2>
      <span>Shakti pumps</span>
      Related Products
    </h2>
    <div class="suuslider">
      <div class="sucpan">
        <img src="/images/product1.png" alt="">
        <h3>Submersible Pumps</h3>
        <h4>Pumps <span>50 Hz</span></h4>  
      </div>
      <div class="sucpan">
        <img src="/images/product2.png" alt="">
        <h3>Solar Pumps</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      <div class="sucpan">
        <img src="/images/product3.png" alt="">
        <h3>Vertical Multistage Cen..</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      <div class="sucpan">
        <img src="/images/product4.png" alt="">
        <h3>Shallow Well & Slow Spe..</h3>
        <h4>Pumps <span>50 Hz</span></h4>
      </div>
      
    </div>
    <div class="productsbtns">
      <a href="#">Check All Products</a>
      <a href="#" class="green">Pump Selector</a>
    </div>
  </div>
</section>
<section class="testimoni domtestim">
  <div class="container">
    <h2><span>Client’s</span> Testimonials</h2>
    <div class="testimonialslide">
      <div class="testipan">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="domtestpropic">
              <img src="/images/dom-testipic.png" alt="">
              <img src="/images/play-icon.png" alt="" class="testprovidbtn">
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <p>Hearty wishes to you all in Shakti Pumps. We are a small group of brothers, who have installed 3nos 5HP Pumps to the bore well. Thanks to the timely help and action. Our 9acres paddy crop is saved.</p>
            <p>At the same time having installed the pumps, I bought 2000 Equity shares of Shakti Pumps @ 172. Oh! My phenomenal jump and good annual result. God Bless the entire team of performance and give you more energy in bringing the solar energy into noble use.</p>
            <h3>Mr. Krishna Murti, Bangalore <span>CEO, Company Name</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="domesticmap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12">
        <h2>Dealer Locator</h2>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="mapselectopt">
          <select>
            <option>State</option>
          </select>
          <select>
            <option>City</option>
          </select>
          <input type="text" placeholder="Zip">
        </div>
      </div>
    </div>
    <div class="mapwrap">
      <div class="mapflex">
          <div class="globmap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24135244.25614283!2d26.439265026482595!3d42.402253968254925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1724242529127!5m2!1sen!2sin" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        <div class="maprgt">
          <h3>India <span>(25)</span></h3>
          <!-- partial:index.partial.html -->
          <div id="accordion" class="maprgtscroll">
            <h4 class="accordion-toggle active"><img src="/images/acc-location-icon.png" alt=""> Andhra Pradesh (02)</h4>
            <div class="accordion-content default">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Arunachal Pradesh (05)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Assam (10)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Bihar (02)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Gujarat (15)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Maharashtra (05)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            <h4 class="accordion-toggle"><img src="/images/acc-location-icon.png" alt=""> Arunachal Pradesh (05)</h4>
            <div class="accordion-content">
              <div class="mapquerybox">
                <h5>Aluru</h5>
                <div class="maplocrow">
                  <div class="maploclist">
                    <p><span>Area :</span> Nizampatnam</p>
                    <p><span>Zip :</span> 522314</p>
                  </div>
                  <a href="#">Query</a>
                </div>
              </div>
            </div>
            
          </div>
          <!-- partial -->
          <div>
  
          </div>
        </div>
      </div>
    </div>
 
  </div>
</section>
<section class="partershakti">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2>Do you want to be a Business<br>partner with Shakti Pump</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <a href="#" class="readmore">Apply Now</a>
      </div>
      </div>
    </div>
</section>
<footer class="full-footer desk">
  <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <img src="/images/f_logo.png" alt="">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com
            Phone: +91-7292-410500
            Fax: +91-7292-410645
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        </div>
    </div>
  </section>
</footer>
<footer class="full-footer mob">
  <div class="footmenu">Others Menu <i class="bx bx-menu"></i></div>
  <div class="fmenumob">
    <section class="footerlinks">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <img src="/images/f_logo.png" alt="">
          <h3>Contact & Support</h3>
          <p>Shakti Pumps (India) Ltd.</p>
          <p>Head Office:
            Plot No. 401, 402 & 413, Sector III,
            Industrial Area, Pithampur - 454774
            Dhar (M.P.) India.</p>
          <p>Email: info@shaktipumps.com
            Phone: +91-7292-410500
            Fax: +91-7292-410645
            Toll Free(INDIA): 1800-103-5555
          </p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Login</h3>
              <ul>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">App Dashboard</a></li>
                <li><a href="#">New Shakti Solar RMS</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Policies</h3>
              <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">IMS</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Sister Company</h3>
              <ul>
                <li><a href="#">Shakti Energy Solution</a></li>
                <li><a href="#">Shakti EV Mobility</a></li>
                <li><a href="#">Shakti Irrigation</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Quick Links</h3>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Shakti Portal</a></li>
                <li><a href="#">Pump Selection</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>CSR</h3>
              <ul>
                <li><a href="#">Green Energy</a></li>
                <li><a href="#">Sustainabilty</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>Vendor Registration</h3>
              <ul>
                <li><a href="#">Registration Status</a></li>
                <li><a href="#">Dealership Inquiry</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <h3>More</h3>
              <ul>
                <li><a href="#">E Tender</a></li>
                <li><a href="#">Shakti App Store</a></li>
              </ul>
            </div>
           </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="footsocial">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>As India's leading manufacturer of energy efficient submersible pumps, we are well-known in our industry. We create our products for a number of sectors including agricultural, industrial, domestic and horticultural. However, this wasn't always the case. Since our humble beginnings back in 1982, we have worked hard to get to where we are today and have had to embrace every opportunity that has come our way.</p>
        </div>
      </div>
    </div>
  </section>
  </div>
    <section class="footcopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p>© 2024 Shakti Pumps (India) Ltd. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 fsocial">
          <h3>Follow Us</h3>
        <div class="fsocilicons">
          <a href="#"><img src="/images/whatsapp.png" alt=""></a>
          <a href="#"><img src="/images/call.png" alt=""></a>
          <a href="#"><img src="/images/fb.png" alt=""></a>
          <a href="#"><img src="/images/linkdin.png" alt=""></a>
          <a href="#"><img src="/images/youtube.png" alt=""></a>
        </div>
        </div>
        </div>
    </div>
  </section>
</footer>
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/script-loading.js"></script>
<script type="text/javascript" src="/js/script-numbercounter.js"></script>
<script type="text/javascript" src="/js/tabscript.js"></script>
<script type="text/javascript" src="/js/menu-script.js"></script>
<script type="text/javascript" src="/js/script-accordian.js"></script>
<!-- <script type="text/javascript" src="/js/tab-script.js"></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script> -->
<script>
  $(document).ready(function() {
        var owl = $('.testimonialslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.suuslider');
        owl.owlCarousel({
          margin: 15,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 4
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.motorsslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 2
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.eventslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        });
      });
</script>
<script>
  $(document).ready(function() {
        var owl = $('.patentslider');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        });
      });
</script>

<script>
  $(document).ready(function() {
        var owl = $('.honslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 2400,
    disableOnInteraction: false,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        });
      });
</script>
<!-- <script>
  $(document).ready(function() {
        var owl = $('.abtjurslide');
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          autoplay: {
    delay: 500,
    disableOnInteraction: true,
  },
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 3
            }
          }
        });
      });
</script> -->
<script>
  $(document).ready(function() {
    $(".abtjurslide").owlCarousel({
        items : 3,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        navigation:true,
        navigationText:["",""],
        pagination:true,
        loop:true,
        autoPlay:true
    });
});
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<script>
  $(document).ready(function(){
    $(".footmenu").click(function(){
      $(".fmenumob").toggle();
    });
  });
  </script>
     </body>
      </html>