<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <!-- Team modal start-->
  <!-- <div class="modal fade" id="teampopup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="teampopup" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <img src="/images/pop-close.png" alt="">
          </button>
        <div class="modal-body">
         <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 teampropic">
            <img src="/images/popup-team1.png" alt="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 teampopdtls">
              <h2>Mr. Dinesh Patidar <span>Chairman & Director</span></h2>
              <p>Is a visionary, self-made industrialist and leader with a strong business acumen and knowledge in development of engineering products and management.</p>
              <p>His more than 3 decades of experience and extensive business travels across the world helped him to adopt latest and best practices in business to develop a competitive edge.</p>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="teampopup1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="teampopup1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <img src="/images/pop-close.png" alt="">
          </button>
        <div class="modal-body">
         <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 teampropic">
            <img src="/images/member2.png" alt="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 teampopdtls">
              <h3>Mr. Ramesh Patidar <span>Managing Director</span></h3>
              <p>Is a visionary, self-made industrialist and leader with a strong business acumen and knowledge in development of engineering products and management.</p>
              <p>His more than 3 decades of experience and extensive business travels across the world helped him to adopt latest and best practices in business to develop a competitive edge.</p>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="modal fade" id="teampopup2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="teampopup1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <img src="/images/pop-close.png" alt="">
          </button>
        <div class="modal-body">
         <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 teampropic">
            <img src="/images/member3.png" alt="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 teampopdtls">
              <h3>Mr. Sunil Patidar <span>Executive Director</span></h3>
              <p>Is a visionary, self-made industrialist and leader with a strong business acumen and knowledge in development of engineering products and management.</p>
              <p>His more than 3 decades of experience and extensive business travels across the world helped him to adopt latest and best practices in business to develop a competitive edge.</p>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Team modal end-->
  <body>
    <%- include('../common/header.ejs') %>

    <section class="about-banner">
      <div><img src="/images/about-banner.png" alt="" /></div>
      <div class="container">
        <h2>
          Shaping <br />the Future of<br />
          Water Management<br />
          Since 1982
        </h2>
      </div>
    </section>

    <section class="whatlooking weatsakti" data-animation="fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>We at Shakti</h2>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <p id="content" class="content">
              Shakti Pumps (India) Limited, a pioneer in manufacturing
              energy-efficient pumps and motors since 1982. The company is at
              the forefront of providing a variety of renewable energy
              solutions, primarily for the agriculture sector.
              <span id="dots"></span><br />
              <span id="more-content" style="display: none">
                The company has over 1200 product portfolios, which their
                Research & Development department has indigenously developed.
                With an investment of 3-4% of the company’s net profit towards
                Research & Development, innovation is the backbone of their
                operations. The company has a strong commitment to innovate and
                develop technologically advanced products to meet India’s
                irrigation & pumping requirements.
              </span>
            </p>
            <button id="read-more-btn" class="welresultsbtn">Read More</button>
          </div>
        </div>
      </div>
    </section>

    <script>
      document
        .getElementById("read-more-btn")
        .addEventListener("click", function () {
          const dots = document.getElementById("dots");
          const moreContent = document.getElementById("more-content");
          const btn = this;

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            moreContent.style.display = "none";
            btn.textContent = "Read More";
          } else {
            dots.style.display = "none";
            moreContent.style.display = "inline";
            btn.textContent = "Read Less";
          }
        });
    </script>

    <!-- <section class="whatlooking weatsakti" data-animation="fadeInUp">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2>We at Shakti</h2>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <p>Shakti Pumps (India) Limited, a pioneer in manufacturing energy-efficient pumps and motors since 1982. The company is at the forefront of providing a variety of renewable energy solutions, primarily for the agriculture sector. The company has over 1200 product portfolios, which their Research & Development department has indigenously developed. With an investment of 3-4% of the company’s net profit towards Research & Development, innovation is the backbone of their operations. The company has a strong commitment to innovate and develop technologically advanced products to meet India’s irrigation & pumping requirements.</p>
          <a href="https://www.shaktipumps.com/company-profile.php" class="welresultsbtn"> Read More</a>
         
        </div>
      </div>
  </div>
</section> -->

    <section class="shaktijour">
      <div class="abtjurslide">
        <div class="jurnpan">
          <h3>1983</h3>
          <div class="jurndtls">
            <div class="jurpic">
              <img src="/images/jurnpic1.png" alt="" />
            </div>
            <h4>The company exports its products to over 120 countries.</h4>
            <p>
              Shakti Pumps has a sprawling state-of-the-art manufacturing
              facility with an installed capacity of 5 lakh pumps per annum
              which is strategically situated in central India at Pithampur in
              the state of Madhya Pradesh.
            </p>
          </div>
        </div>
        <div class="jurnpan altt">
          <div class="jurndtls">
            <div class="jurpic">
              <img src="/images/jurnpic1.png" alt="" />
            </div>
            <h4>
              Company’s product like agriculture, irrigation, industrial
              applications
            </h4>
            <p>
              The company’s product like agriculture, irrigation, industrial
              applications and processes.
            </p>
          </div>
          <h3>1995</h3>
        </div>
        <div class="jurnpan">
          <h3>1996</h3>
          <div class="jurndtls">
            <div class="jurpic">
              <img src="/images/jurnpic1.png" alt="" />
            </div>
            <h4>Highly Advanced Manufacturing Unit Set Up</h4>
            <p>
              Shakti Pumps with over three decades of experience in the pumping
              industry, is one of the most quality-driven pump manufacturers in
              the world. The company holds a dominant position in the domestic
              solar pumps industry including approximately 40% market share in
              the PM-KUSUM scheme Government of India’s visionary program to
              embrace solar power for the agriculture sector.
            </p>
          </div>
        </div>
        <div class="jurnpan altt">
          <div class="jurndtls">
            <div class="jurpic">
              <img src="/images/jurnpic1.png" alt="" />
            </div>
            <h4>Highly Advanced Manufacturing Unit Set Up</h4>
            <p>
              Shakti Pumps' product portfolio comprises new-age products which
              are solar energy-operated pumps, electric pumps, and solutions
              that find use in agriculture, industrial & commercial sectors.
              With 28 patent applications, of which one patent was recently
              granted.
            </p>
          </div>
          <h3>1997</h3>
        </div>
      </div>
    </section>

    <section class="missvisson">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 vissn">
            <h2>Our Vision</h2>
            <p>
              To become a company that constantly strives for quality and
              customer satisfaction by providing best pumping solutions with
              global benchmarks and to be a company which integrates Health,
              Safety and Environmental considerations into all its business
              decisions and activities, such there will be
            </p>
            <ul>
              <li>Zero Accident</li>
              <li>Zero Liquid Discharge</li>
              <li>Zero Carbon Foot Print</li>
            </ul>
            <p>
              To excel with an emphasis on best business and ethical practice
              with strong organizational values justifying the interest of all
              stakeholders.
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 missn">
            <h2>Our Mission</h2>
            <p>
              To work relentlessly towards coming closer to our vision statement
              by offering best working environment and training focusing on
              integrity and ethics.
            </p>
            <p>
              To empower the workforce to offer products and services that
              exceeds customer expectations by providing value for money and
              ensure handsome return to our employees and shareholders.
            </p>
            <p>
              To create a safe workplace by reducing injuries, accidents &
              environmental impact for current and future generations.
            </p>
          </div>
        </div>
      </div>
      <!-- <img src="/images/green-bg.png" alt="" /> -->
      <img
        src="/images/Vision_Mission.png"
        alt=""
        style="width: 2555px; height: 450px"
      />
    </section>

    <section class="ourvalue">
      <div class="container" data-animation="fadeInUp">
        <h2>Our Core Values</h2>
        <!-- <img src="/images/Sustain.png" alt="" /> -->
        <img src="/images/Core_Values.png" alt="" />
      </div>
    </section>
    <!-- <section class="ourvalue">
      <div class="container" data-animation="fadeInUp">
        <h2>Our Values</h2>
        <!- partial:index.partial.html ->
        <ul class="tabs">
          <li class="active" rel="tab1">Instill Passion</li>
          <li rel="tab2">Respect People</li>
          <li rel="tab3">Respect Systems & Processes</li>
          <li rel="tab4">Be Fair & Ethica</li>
          <li rel="tab5">Customer-Centric</li>
          <li rel="tab6">Strive for Excellence</li>
          <!- <li rel="tab7">Experience</li>
          <li rel="tab8">Sustainability</li> ->
        </ul>
        <div class="tab_container">
          <h3 class="d_active tab_drawer_heading" rel="tab1">
            Instill Passion
          </h3>
          <div id="tab1" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>
                  At Shakti Pumps, we foster a culture of enthusiasm and
                  dedication.
                </p>
                <p>
                  Our team is motivated by a shared passion for excellence,
                  driving us to deliver superior products and services
                  consistently.
                </p>
              </div>
            </div>
          </div>
          <!- #tab1 ->
          <h3 class="tab_drawer_heading" rel="tab2">Respect People</h3>
          <div id="tab2" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>We believe in treating everyone with dignity and respect.</p>
                <p>
                  Our commitment to a positive work environment and ethical
                  practices extends to our employees, partners, and customers.
                </p>
              </div>
            </div>
          </div>
          <!- #tab2 ->
          <h3 class="tab_drawer_heading" rel="tab3">
            Respect Systems & Processes
          </h3>
          <div id="tab3" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>
                  Adherence to established systems and processes is crucial for
                  maintaining quality and efficiency.
                </p>
                <p>
                  We continuously refine our procedures to ensure they meet the
                  highest standards and contribute to our overall success.
                </p>
              </div>
            </div>
          </div>
          <!- #tab3 ->
          <h3 class="tab_drawer_heading" rel="tab4">Be Fair & Ethical</h3>
          <div id="tab4" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>
                  Integrity and fairness are at the core of our business
                  practices.
                </p>
                <p>
                  We operate with transparency and honesty, ensuring that all
                  our interactions and transactions are conducted ethically.
                </p>
              </div>
            </div>
          </div>
          <!- #tab4 ->
          <h3 class="tab_drawer_heading" rel="tab5">Customer-Centric</h3>
          <div id="tab5" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>Our customers are central to everything we do.</p>
                <p>
                  We listen to their needs, provide tailored solutions, and
                  strive to exceed their expectations with every product and
                  service we offer.
                </p>
              </div>
            </div>
          </div>
          <!- #tab5 ->
          <h3 class="tab_drawer_heading" rel="tab6">Strive for Excellence</h3>
          <div id="tab6" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="" />
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>Excellence is a continuous journey at Shakti Pumps.</p>
                <p>
                  We are dedicated to improving our processes, products, and
                  services to deliver the highest standards of quality and
                  performance.
                </p>
              </div>
            </div>
          </div>
          <!- #tab6 ->
          <!- <h3 class="tab_drawer_heading" rel="tab6">Sustainability</h3>
          <div id="tab7" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="">
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
                <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
              </div>
            </div>
          </div> ->
          <!- #tab7 ->
          <!- <h3 class="tab_drawer_heading" rel="tab8">Tab 8</h3>
          <div id="tab8" class="tab_content">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6">
                <img src="/images/tab-pic1.png" alt="">
              </div>
              <div class="col-lg-7 col-md-7 col-sm-6">
                <p>Consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
                <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
              </div>
            </div>
          </div> ->
          <!- #tab8 ->
        </div>
      </div>
    </section> -->
    <!-- <section class="ourvalue">
  <div class="container"  data-animation="fadeInUp">
    <h2>Our Values</h2>
    partial:index.partial.html
<ul class="tabs">
  <li class="active" rel="tab1">Brands</li>
  <li rel="tab2">Innovative</li>
  <li rel="tab3">Scale</li>
  <li rel="tab4">Efficient</li>
  <li rel="tab5">Technology</li>
  <li rel="tab6">Presence</li>
  <li rel="tab7">Experience</li>
  <li rel="tab8">Sustainability</li>
</ul>
<div class="tab_container">
  <h3 class="d_active tab_drawer_heading" rel="tab1">Brands</h3>
  <div id="tab1" class="tab_content">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6">
      <img src="/images/tab-pic1.png" alt="">
      <div class="col-lg-7 col-md-7 col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
      <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
    </div>
  </div>
  </div>
  #tab1
  <h3 class="tab_drawer_heading" rel="tab2">Innovative</h3>
  <div id="tab2" class="tab_content">
    <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6">
      <img src="/images/tab-pic1.png" alt="">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6">
      <p>Consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
      <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
    </div>
  </div>
  </div>
  #tab2
  <h3 class="tab_drawer_heading" rel="tab3">Scale</h3>
  <div id="tab3" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
             <p>Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  #tab3 
  <h3 class="tab_drawer_heading" rel="tab4">Efficient</h3>
  <div id="tab4" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  #tab4 
  <h3 class="tab_drawer_heading" rel="tab5">Technology</h3>
  <div id="tab5" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  #tab5 
  <h3 class="tab_drawer_heading" rel="tab6">Presence</h3>
  <div id="tab6" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  #tab6 
  <h3 class="tab_drawer_heading" rel="tab6">Sustainability</h3>
  <div id="tab7" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  #tab7 
  <h3 class="tab_drawer_heading" rel="tab8">Tab 8</h3>
  <div id="tab8" class="tab_content">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6">
        <img src="/images/tab-pic1.png" alt="">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6">
        <p>Consectetur adipiscing elit. Duis volutpat eleifend nisl, id consectetur ex faucibus vitae. Nulla porta nibh finibus accumsan condimentum. Integer eu malesuada nunc. Cras eget ipsum sit amet lacus maximus sagittis. Nulla eu sodales lorem. Sed quis vehicula est. Phasellus cursus consequat arcu, quis dignissim quam dapibus non. Cras vestibulum erat malesuada sapien volutpat maximus. Etiam non neque sit amet ante accumsan facilisis eget mattis nunc.</p>
        <p>Nulla facilisi. Sed aliquet tempor ex. Donec sagittis urna arcu, in mattis libero hendrerit at. Sed egestas nulla a neque auctor suscipit. Donec varius libero eget velit consectetur, eget tristique dui rhoncus. Nunc nec erat commodo, ornare orci in, volutpat leo. Suspendisse euismod maximus.</p>
      </div>
    </div>
  </div>
  #tab8 
</div>
.tab_container
</div>
partial
  </div>
</section> -->

    <section class="boarddirector">
      <div class="container">
        <h2>Board of Directors</h2>
        <div id="team-cards" class="row"></div>
        <script>
          const teamMembers = [
            {
              id: 0,
              name: "Mr. Dinesh Patidar",
              title: "Chairman & Director",
              image: "/images/member1.png",
              modalImage: "/images/popup-team1.png",
              description:
                "Dinesh Patidar, esteemed Chairman of Shakti Pumps (India) Limited, embodies a visionary leader propelling innovation and excellence in pump manufacturing. With Shakti Pumps' roots dating back to 1982, the company has etched itself as an industry pioneer, crafting India's inaugural BEE 5 Star rated pumps and pioneering 100% stainless steel pumps and energy-efficient motors.Hailing from an agricultural background, Mr. Patidar pursued a Commerce degree in Indore and apprenticed under his father, dedicating unwavering commitment to nurture Shakti Pumps. Assuming leadership in 1986, his foresight expanded Shakti Pumps to 120+ countries, introducing stainless steel pumps and establishing the brand as a national leader across diverse pump categories. Mr. Patidar leads Shakti Pumps with a holistic approach, infusing core values into all operations. He drives product design, manufacturing, and strategic decisions, fostering transparency and innovation. His guidance led to Shakti Pumps becoming India's pioneering 5-star pump manufacturer, contributing significantly to the nation's energy goals. His relentless pursuit of innovation earned nine patents, while advocating for equality shaped the company's values of respect, ethics, and customer-centricity.",
            },
            {
              id: 1,
              name: "Mr. Ramesh Patidar",
              title: "Managing Director",
              image: "/images/file.png",
              modalImage: "/images/file.png",
              description:
                "Mr. Ramesh Patidar is the Managing Director of Shakti Pumps, a leading name in the field of water pumping solutions. With a diverse background and extensive experience spanning over 15 years, Mr. Patidar has been instrumental in driving the company's growth and success in both domestic and international markets. Graduated in Business Administration, Mr. Patidar brings a wealth of knowledge and expertise to his role as Managing Director. He has demonstrated exceptional leadership in international business development, spearheading initiatives to explore and expand new business opportunities across the globe. Mr. Patidar is recognized for his innovative thinking and ability to identify emerging trends, which he leverages to achieve organizational objectives and enhance profitability.",
            },
            {
              id: 3,
              name: "Mr. Sunil Patidar",
              title: "Executive Director",
              image: "/images/member3.png",
              modalImage: "/images/member3.png",
              description:
                "Is a visionary, self-made industrialist and leader with a strong business acumen and knowledge in development of engineering products and management.",
            },
            {
              id: 4,
              name: "Mr. Ashwin Bhootda",
              title: "Whole Time Director",
              image: "/images/member4.png",
              modalImage: "/images/member4.png",
              description:
                "Expert in operations and execution of various business strategies.",
            },
            {
              id: 5,
              name: "Mr. Hirabhai Somabhai Patel",
              title: "Independent Director",
              image: "/images/member5.png",
              modalImage: "/images/member5.png",
              description:
                "Highly experienced in independent board governance and management.",
            },
            {
              id: 6,
              name: "Mr. Bhim Singh",
              title: "Independent Director",
              image: "/images/member6.png",
              modalImage: "/images/member6.png",
              description:
                "Specializes in strategic oversight and long-term planning.",
            },
            {
              id: 7,
              name: "Mr. V.S.S. Pavan Kumar Hari",
              title: "Independent Director",
              image: "/images/member7.png",
              modalImage: "/images/member7.png",
              description:
                "Has a strong background in advisory roles and regulatory affairs.",
            },
            {
              id: 8,
              name: "Mr. Keyur Bipinchandra Thaker",
              title: "Executive Director",
              image: "/images/member8.png",
              modalImage: "/images/member8.png",
              description:
                "Focused on corporate strategy and executive-level decision making.",
            },
            {
              id: 9,
              name: "Mrs. Nishtha Neema",
              title: "Independent Director",
              image: "/images/member9.png",
              modalImage: "/images/member9.png",
              description:
                "Experienced professional in corporate governance and stakeholder relations.",
            },
          ];

          function generateTeamMembers() {
            const teamCardsContainer = document.getElementById("team-cards");

            teamMembers.forEach((member) => {
              const teamCard = document.createElement("div");
              teamCard.classList.add(
                "col-lg-4",
                "col-md-6",
                "col-sm-12",
                "mempan"
              );
              teamCard.innerHTML = `
                    <img src="${member.image}" alt="${member.name}">
                    <h3>${member.name} <span>${member.title}</span></h3>
                    <img src="/images/plus-icon.png" alt="plus icon" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup${member.id}">
                `;
              teamCardsContainer.appendChild(teamCard);

              const modal = document.createElement("div");
              modal.classList.add("modal", "fade");
              modal.id = `teampopup${member.id}`;
              modal.setAttribute("data-bs-backdrop", "static");
              modal.setAttribute("data-bs-keyboard", "false");
              modal.setAttribute("tabindex", "-1");
              modal.setAttribute("aria-labelledby", `teampopup${member.id}`);
              modal.setAttribute("aria-hidden", "true");
              modal.innerHTML = `
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <img src="/images/pop-close.png" alt="Close">
                            </button>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-12 teampropic">
                                        <img src="${member.modalImage}" alt="Team Member Image">
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-12 teampopdtls">
                                        <h3>${member.name} <span>${member.title}</span></h3>
                                        <p>${member.description}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
              document.body.appendChild(modal);
            });
          }

          window.onload = function () {
            generateTeamMembers();
          };
        </script>
      </div>
    </section>

    <!-- Honors & Accolades -->
    <section class="hon-certificate">
      <div class="container">
        <h2>Honors & Accolades</h2>
        <div class="honslide">
          <div class="honpan">
            <div class="honimgtab">
              <img src="/images/certificate1.png" alt="" />
            </div>
            <h3>First Patent</h3>
            <p>
              Company Received Its First Patent Certificate For "A
              Unidirectional Solar Water Pump With Grid-Tied Power Generation".
            </p>
          </div>
          <div class="honpan">
            <div class="honimgtab">
              <img src="/images/certificate2.png" alt="" />
            </div>
            <h3>Best Employer Brand Award MP, 2019</h3>
            <p>
              Shakti Pumps Was Awarded By Madhya Pradesh Solar Energy Leadership
              2019.
            </p>
          </div>
          <div class="honpan">
            <div class="honimgtab">
              <img src="/images/certificate3.png" alt="" />
            </div>
            <h3>Mp Leadership 2019</h3>
            <p>
              Shakti Pumps was awarded by Madhya Pradesh Solar Energy Leadership
              2019.
            </p>
          </div>
          <div class="honpan">
            <div class="honimgtab">
              <img src="/images/certificate4.png" alt="" />
            </div>
            <h3>BEE-GEF-UNIDO 2018</h3>
            <p>
              Shakti Pumps was winner of 2018 Innovation Challenge by
              BEE-GEF-UNIDO
            </p>
          </div>
          <div class="honpan">
            <div class="honimgtab">
              <img src="/images/certificate5.png" alt="" />
            </div>
            <h3>Veichi, 2016</h3>
            <p>Shakti Pumps was awarded best strategic partner award 2016.</p>
          </div>
        </div>
        <a href="#" class="readmore">View All Awards</a>
      </div>
    </section>

    <section class="infrastruc">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Infrastructure <br />(Factory And <br />R&D Centres)</h2>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <p>
              Shakti Pumps operates with a robust infrastructure designed to
              support high-volume production and continuous innovation. Our
              facilities include an SEZ Unit, a Domestic Unit, and an
              Electronics and Control Plant. Shakti Pumps’ R&D centers are
              integral to our operations, driving innovation and ensuring that
              we remain at the cutting edge of technology in the pumping
              industry.
            </p>
            <a href="/infrastructure" class="readmore">Read More</a>
          </div>
        </div>
      </div>
    </section>
    <section class="patents">
      <div class="container">
        <h2>Patents</h2>
        <div class="patentslider">
          <div class="patentpan">
            <div class="cerftab">
              <img src="/images/patent-pic1.png" alt="" />
            </div>
            <h3>1st Patent Certificate</h3>
          </div>
          <div class="patentpan">
            <div class="cerftab">
              <img src="/images/patent-pic1.png" alt="" />
            </div>
            <h3>2nd Patent Certificate</h3>
          </div>
          <div class="patentpan">
            <div class="cerftab">
              <img src="/images/patent-pic1.png" alt="" />
            </div>
            <h3>3rd Patent Certificate</h3>
          </div>
          <div class="patentpan">
            <div class="cerftab">
              <img src="/images/patent-pic1.png" alt="" />
            </div>
            <h3>4th Patent Certificate</h3>
          </div>
          <div class="patentpan">
            <div class="cerftab">
              <img src="/images/patent-pic1.png" alt="" />
            </div>
            <h3>5th Patent Certificate</h3>
          </div>
        </div>
        <a href="/patent" class="readmore">View All Patents</a>
      </div>
    </section>
    <%- include('../common/footer.ejs') %>
  </body>
</html>

<!-- <div class="directorlists">
        <div class="mempan" id="teampopup">
          <img src="/images/member1.png" alt="">
          <h3>Mr. Dinesh Patidar <span>Chairman & Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup">
        </div>
        <div class="mempan">
          <img src="/images/member2.png" alt="">
          <h3>Mr. Ramesh Patidar <span>Managing Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup1">
        </div>
        <div class="mempan">
          <img src="/images/member3.png" alt="">
          <h3>Mr. Sunil Patidar <span>Executive Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup2">
        </div>
        <div class="mempan">
          <img src="/images/member4.png" alt="">
          <h3>Mr. Ashwin Bhootda <span>Whole Time Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup3">
        </div>
        <div class="mempan">
          <img src="/images/member5.png" alt="">
          <h3>Mr. Hirabhai Somabhai Patel <span>Independent Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup4">
        </div>
        <div class="mempan">
          <img src="/images/member6.png" alt="">
          <h3>Mr. Bhim Singh <span>Independent Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup5">
        </div>
        <div class="mempan">
          <img src="/images/member7.png" alt="">
          <h3>Mr. V.S.S. Pavan Kumar Hari <span>Independent Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup6">
        </div>
        <div class="mempan">
          <img src="/images/member8.png" alt="">
          <h3>Mr. Keyur Bipinchandra Thaker <span>Executive Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup7">
        </div>
        <div class="mempan">
          <img src="/images/member9.png" alt="">
          <h3>Mrs. Nishtha Neema <span>Independent Director</span></h3>
          <img src="/images/plus-icon.png" alt="" class="popicon" data-bs-toggle="modal" data-bs-target="#teampopup8">
        </div>
      </div> -->
<!-- <div class="managerlists">
          <h2>Managerial Persons</h2>
          <div class="mempan">
            <img src="/images/dummy-pic.png" alt="" />
            <h3>Mr. Dinesh Patel <span>Chief Financial Officer</span></h3>
            <img
              src="/images/plus-icon.png"
              alt=""
              class="popicon"
              data-bs-toggle="modal"
              data-bs-target="#teampopup"
            />
          </div>
          <div class="mempan">
            <img src="/images/dummy-pic.png" alt="" />
            <h3>Mr. Ravi Patidar <span>Company Secretary</span></h3>
            <img
              src="/images/plus-icon.png"
              alt=""
              class="popicon"
              data-bs-toggle="modal"
              data-bs-target="#teampopup"
            />
          </div>
          <div class="mempan">
            <img src="/images/dummy-pic.png" alt="" />
            <h3>Dr Chinmay Jain <span>Chief Technical Officer</span></h3>
            <img
              src="/images/plus-icon.png"
              alt=""
              class="popicon"
              data-bs-toggle="modal"
              data-bs-target="#teampopup"
            />
          </div>
          <div class="mempan">
            <img src="/images/dummy-pic.png" alt="" />
            <h3>Prof. BM Sharma <span>Overall Head (Operations & HR)</span></h3>
            <img
              src="/images/plus-icon.png"
              alt=""
              class="popicon"
              data-bs-toggle="modal"
              data-bs-target="#teampopup"
            />
          </div>
        </div> -->
