<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shakti Pumps</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/style-loading.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
  </head>
  <!-- patent modal start-->
  <div
    class="modal fade"
    id="patentpopup"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="patentpopup"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <img src="/images/pop-close.png" alt="" />
        </button>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="patentpropic">
                <img src="/images/popup-patentimg.png" alt="" />
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
              <div class="patentpopdtls">
                <h5>
                  1<sup>st</sup> Patent Certificate
                  <span>Shakti Pumps (India) Limited Has Received</span>
                </h5>
                <h2>
                  “A Unidirectional Solar Water Pump With Grid-Tied Power
                  Generation”
                </h2>
                <div class="patentapp">
                  <div class="popappno">
                    <p><span>Patent No.</span> 393702</p>
                    <p><span>Application No.</span> 201821023886</p>
                  </div>
                  <div class="popfillno">
                    <p><span>Date Of Filing:</span> 27/06/2018</p>
                    <p><span>Patent:</span> Shakti Pumps (India) Ltd.</p>
                  </div>
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  semper consectetur est non imperdiet. Morbi velit sem,
                  suscipit sit amet sem sed, tristique tempus felis. Nulla
                  ornare varius turpis eget finibus.
                </p>
                <p>
                  Vestibulum in nibh quis risus gravida egestas quis quis leo.
                  Aliquam erat volutpat. In sed nibh mollis quam lobortis
                  blandit. Integer sed massa sed orci varius vestibulum ac vel
                  nunc. Fusce vehicula mattis libero nec pharetra. Ut at libero
                  in lacus molestie blandit. Integer tristique non risus in
                  sagittis. Maecenas pharetra consequat tellus id sodales.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- patent modal end-->
  <body>
    <%- include('../common/header.ejs') %>

    <section class="newsfilter">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              Patents
              <span>Total Patents: 20</span>
            </h2>
          </div>
        </div>
      </div>
    </section>
    <section class="patentlists">
      <div class="container">
        <ul>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              1 <sup>st</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              2 <sup>nd</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              3 <sup>rd</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              4 <sup>th</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              5 <sup>th</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              1 <sup>st</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              2 <sup>nd</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              3 <sup>rd</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              4 <sup>th</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              5 <sup>th</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              1 <sup>st</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              2 <sup>nd</sup> Patent Certificate
            </button>
          </li>
          <li>
            <img src="/images/patent-cert.png" alt="" />
            <button data-bs-toggle="modal" data-bs-target="#patentpopup">
              3 <sup>rd</sup> Patent Certificate
            </button>
          </li>
        </ul>
      </div>
    </section>

    <%- include('../common/footer.ejs')%>
  </body>
</html>
